<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2 id="page_title">{{ 'Time Offs' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>{{ 'Scheduling Menu' | translate }}</a></li>
        <li class="breadcrumb-item active"><b>{{ 'Time Offs List' | translate }}</b> </li>
      </ol>
    </div>
  </div>
  <div class="row m-l-r-10">
    <div class="col-md-3 m-t-10">
      <input id="search" type="text" class="form-control padding-right-35" [(ngModel)]="searchKeyword"
        [maxLength]="maxLength" placeholder="{{ 'Enter keyword to search' | translate }}" />
      <span *ngIf="searchKeyword?.length > 0" class="fa fa-times close-icon pointer" (click)="clearSearchText()"></span>
    </div>
    <div class="col-md-2 col-sm-6">
      <button class="form-control m-t-10" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i>
        {{ 'Search' | translate }}
      </button>
    </div>
    <div class="col-md-7 text-right">
      <button type="button" class="btn btn-primary float-r m-t-10" (click)="addTimeOff()"><i class="fa fa-plus pr-1"
          aria-hidden="true"></i>{{ 'Add' | translate }}</button>
    </div>
  </div>

  <div class="row m-r-15 m-t-10">
    <div class="col-md-12 mt-2 table-responsive">
      <div class="scrollable-table">
        <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
          <thead>
            <tr>
              <th>
                {{ 'Action' | translate }}</th>
              <th class="sortable-field" (click)="sort('id', sortBy)">
                {{ 'ID' | translate }}
                <i *ngIf="orderBy !== 'id'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'id'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('description', sortBy)">
                {{ 'Description' | translate }}
                <i *ngIf="orderBy !== 'description'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'description'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('timeOffCode', sortBy)">
                {{ 'Time Off Code' | translate }}
                <i *ngIf="orderBy !== 'timeOffCode'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'timeOffCode'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field width-15-p" (click)="sort('startDate', sortBy)">
                {{ 'Start and End Dates' | translate }}
                <i *ngIf="orderBy !== 'startDate'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'startDate'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('allowDayRequestOn', sortBy)">
                {{ 'Allow day request on' | translate }}
                <i *ngIf="orderBy !== 'allowDayRequestOn'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'allowDayRequestOn'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('FTEDayLength', sortBy)">
                {{ 'FTE Date Length' | translate }}
                <i *ngIf="orderBy !== 'FTEDayLength'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'FTEDayLength'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('firstDayOfWeek', sortBy)">
                {{ 'First day of week' | translate }}
                <i *ngIf="orderBy !== 'firstDayOfWeek'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'firstDayOfWeek'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('agentAccess', sortBy)">
                {{ 'Agent Access' | translate }}
                <i *ngIf="orderBy !== 'agentAccess'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'agentAccess'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i></th>
              <th class="sortable-field" (click)="sort('fullWeeks', sortBy)">
                {{ 'Full Weeks' | translate }}
                <i *ngIf="orderBy !== 'fullWeeks'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'fullWeeks'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('deselectedTime', sortBy)">
                {{ 'Deselected Time' | translate }}
                <i *ngIf="orderBy !== 'deselectedTime'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'deselectedTime'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
            </tr>
          </thead>
          <tbody>
            <ngx-spinner [name]="spinner"></ngx-spinner>
            <tr *ngIf="timeOffs?.length === 0" class="valid-record">
              <td colspan="12">
                {{ 'No data to show' | translate }}</td>
            </tr>
            <ng-container *ngFor="let el of timeOffs | slice: (currentPage-1) * pageSize : (currentPage) * pageSize; let i = index">
              <tr>
                <td>
                  <i class="fa fa-edit padding-5 pointer" (click)="editTimeOffs(el)"></i>
                  <i class="fa fa-trash padding-5 pointer" (click)="deleteTimeOffs(el.id)"></i>
                </td>
                <td>{{el.id}}</td>
                <td>{{el.description}}</td>
                <td>{{getTimeOffCode(el.timeOffCode)}}</td>
                <td>{{el.startDate | date: 'yyyy-MM-dd'}} - {{el.endDate | date: 'yyyy-MM-dd'}}</td>
                <td>{{getDayRequestOn(el?.allowDayRequestOn)}}</td>
                <td>{{el.FTEDayLength }}</td>
                <td>{{weekDay[el.firstDayOfWeek]}}</td>
                <td>{{el.agentAccess }}</td>
                <td>{{el.fullWeeks }}</td>
                <td>{{el.deselectedTime }}</td>
                </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination p-0 float-right">
          <ngb-pagination class="p-r-5" [collectionSize]="totalRecord" (pageChange)="changePage($event)"
            [pageSize]="pageSize" [(page)]="currentPage" [boundaryLinks]="true"></ngb-pagination>
          <select class="form-control" (change)="changePageSize($event.target.value)">
            <option [selected]="x.count === pageSize" [value]="x.count" *ngFor="let x of paginationSize">
              {{x.text | translate}}</option>
          </select>
        </ul>
      </nav>
    </div>
  </div>
  </div>
