<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2 id="page_title">{{ 'Time Offs' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>{{ 'Scheduling Menu' | translate }}</a></li>
        <li class="breadcrumb-item active"><b>{{ 'Time Offs List' | translate }}</b> </li>
      </ol>
    </div>
  </div>
  <div class="row m-l-r-10">
    <div class="col-md-3 m-t-10">
      <input id="search" type="text" class="form-control padding-right-35" [(ngModel)]="searchKeyword"
        [maxLength]="maxLength" placeholder="{{ 'Enter keyword to search' | translate }}" />
      <span *ngIf="searchKeyword?.length > 0" class="fa fa-times close-icon pointer" (click)="clearSearchText()"></span>
    </div>
    <div class="col-md-2 col-sm-6">
      <button class="form-control m-t-10" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i>
        {{ 'Search' | translate }}
      </button>
    </div>
    <div class="col-md-7 text-right">
      <button type="button" class="btn btn-primary float-r m-t-10" (click)="addTimeOff()"><i class="fa fa-plus pr-1"
          aria-hidden="true"></i>{{ 'Add' | translate }}</button>
    </div>
  </div>

  <div class="row m-r-15 m-t-10">
    <div class="col-md-12 mt-2 table-responsive">
      <div class="scrollable-table">
        <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
          <thead>
            <tr>
              <th>
                {{ 'Action' | translate }}</th>
              <th class="sortable-field" (click)="sort('id', sortBy)">
                {{ 'ID' | translate }}
                <i *ngIf="orderBy !== 'id'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'id'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('description', sortBy)">
                {{ 'Description' | translate }}
                <i *ngIf="orderBy !== 'description'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'description'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('timeOffCode', sortBy)">
                {{ 'Time Off Code' | translate }}
                <i *ngIf="orderBy !== 'timeOffCode'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'timeOffCode'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field width-15-p" (click)="sort('startDate', sortBy)">
                {{ 'Start and End Dates' | translate }}
                <i *ngIf="orderBy !== 'startDate'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'startDate'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('allowDayRequestOn', sortBy)">
                {{ 'Allow day request on' | translate }}
                <i *ngIf="orderBy !== 'allowDayRequestOn'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'allowDayRequestOn'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('FTEDayLength', sortBy)">
                {{ 'FTE Date Length' | translate }}
                <i *ngIf="orderBy !== 'FTEDayLength'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'FTEDayLength'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('firstDayOfWeek', sortBy)">
                {{ 'First day of week' | translate }}
                <i *ngIf="orderBy !== 'firstDayOfWeek'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'firstDayOfWeek'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>


              <th class="sortable-field" (click)="sort('viewAllotments', sortBy)">
                {{ 'Allow agents to view time off allotments' | translate }}
                <i *ngIf="orderBy !== 'viewAllotments'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'viewAllotments'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('viewWaitLists', sortBy)">
                {{ 'Allow agents to see the wait list for any day' | translate }}
                <i *ngIf="orderBy !== 'viewWaitLists'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'viewWaitLists'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('timeOffs', sortBy)">
                {{ 'Allow agents to see who has time off for any day' | translate }}
                <i *ngIf="orderBy !== 'timeOffs'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'timeOffs'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('addNotes', sortBy)">
                {{ 'Allow agents to add notes allotments' | translate }}
                <i *ngIf="orderBy !== 'addNotes'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'addNotes'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('showPastDays', sortBy)">
                {{ 'Show past days as full if allowed time was all taken allotments' | translate }}
                <i *ngIf="orderBy !== 'showPastDays'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'showPastDays'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>

              <th class="sortable-field" (click)="sort('forceOffDaysBeforeWeek', sortBy)">
                {{ 'Number of days to force off before a week' | translate }}
                <i *ngIf="orderBy !== 'forceOffDaysBeforeWeek'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'forceOffDaysBeforeWeek'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('forceOffDaysAfterWeek', sortBy)">
                {{ 'Number of days to force off after a week' | translate }}
                <i *ngIf="orderBy !== 'forceOffDaysAfterWeek'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'forceOffDaysAfterWeek'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('allowFullWeekRequest', sortBy)">
                {{ 'Allow full week requests on' | translate }}
                <i *ngIf="orderBy !== 'allowFullWeekRequest'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'allowFullWeekRequest'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('deSelectedTime', sortBy)">
                {{ 'Deselected Time' | translate }}
                <i *ngIf="orderBy !== 'deSelectedTime'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'deSelectedTime'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('deselectSavedDays', sortBy)">
                {{ 'Allow agent to deselect saved days' | translate }}
                <i *ngIf="orderBy !== 'deselectSavedDays'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'deselectSavedDays'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
            </tr>
          </thead>
          <tbody>
            <ngx-spinner [name]="spinner"></ngx-spinner>
            <tr *ngIf="timeOffs?.length === 0" class="valid-record">
              <td colspan="20">
                {{ 'No data to show' | translate }}</td>
            </tr>
            <ng-container *ngFor="let el of timeOffs; let i = index">
              <tr>
                <td>
                  <i class="fa fa-edit padding-5 pointer" (click)="editTimeOffs(el)"></i>
                  <i class="fa fa-trash padding-5 pointer" (click)="deleteTimeOffs(el.id)"></i>
                </td>
                <td>{{el?.id}}</td>
                <td>{{el?.description}}</td>
                <td>{{getTimeOffCode(el?.schedulingCodeId)}}</td>
                <td>{{el?.startDate | date: 'yyyy-MM-dd'}} - {{el?.endDate | date: 'yyyy-MM-dd'}}</td>
                <td>{{getDayRequestOn(el?.allowDayRequest)}}</td>
                <td>{{el?.fTEDayLength }}</td>
                <td>{{weekDay[el?.firstDayOfWeek]}}</td>
                <td>{{el?.viewAllotments ? 'Yes': 'No' }}</td>
                <td>{{el?.viewWaitLists ? 'Yes': 'No' }}</td>
                <td>{{el?.timeOffs ? 'Yes': 'No' }}</td>
                <td>{{el?.addNotes ? 'Yes': 'No' }}</td>
                <td>{{el?.showPastDays ? 'Yes': 'No' }}</td>
                <td>{{el?.forceOffDaysBeforeWeek }}</td>
                <td>{{el?.forceOffDaysAfterWeek }}</td>
                <td>{{el?.allowFullWeekRequest ? 'Yes': 'No' }}</td>
                <td>{{getDeselectedTime(el?.deSelectedTime) }}</td>
                <td>{{el?.deselectSavedDays ? 'Yes': 'No' }}</td>
                </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination p-0 float-right">
          <ngb-pagination class="p-r-5" [collectionSize]="totalRecord" (pageChange)="changePage($event)"
            [pageSize]="pageSize" [(page)]="currentPage" [boundaryLinks]="true"></ngb-pagination>
          <select class="form-control" (change)="changePageSize($event.target.value)">
            <option [selected]="x.count === pageSize" [value]="x.count" *ngFor="let x of paginationSize">
              {{x.text | translate}}</option>
          </select>
        </ul>
      </nav>
    </div>
  </div>
  </div>
