<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-md-6">
      <h2>{{ 'Client Name' | translation: 'lbl_page_title' : translationValues }}</h2>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Setup Menu</a></li>
        <li class="breadcrumb-item active">Client List</li>
      </ol>
    </div>
  </div>

  <div class="row m-l-r-10">
    <div class="col-md-3 padding-bottom-5">
      <input type="text" class="form-control" [(ngModel)]="searchKeyword"
        placeholder="{{ 'Client Name' | translation: 'lbl_client_name' : translationValues }}" />
    </div>
    <div class="col-md-2">
      <button class="form-control" (click)="searchClients()"><i class="fa fa-search" aria-hidden="true"></i>
        {{ 'Search' | translation: 'btn_search' : translationValues }}
      </button>
    </div>
    <div class="col-md-7 text-right">
      <button type="button" class="btn btn-primary float-r" (click)="addClient()">
        <i class="fa fa-plus p-1" aria-hidden="true"></i>{{ 'Add' | translation: 'btn_add' : translationValues }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-2 table-responsive">
      <div class="scrollable-table">
        <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
          <thead>
            <tr>
              <th class="width-10-p">
                {{ 'Action' | translation: 'lbl_table_heading_action' : translationValues }}</th>
              <th class="sortable-field width-10-p" (click)="sortClients('id', sortBy)">
                {{ 'ID' | translation: 'lbl_table_heading_id' : translationValues }}
                <i *ngIf="orderBy !== 'id'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'id'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field width-10-p" (click)="sortClients('refId', sortBy)">
                {{ 'Reference ID' | translation: 'lbl_table_heading_ref_id' : translationValues }}
                <i *ngIf="orderBy !== 'refId'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'refId'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field width-10-p" (click)="sortClients('name', sortBy)">
                {{ 'Client Name' | translation: 'lbl_table_heading_client_name' : translationValues }}
                <i *ngIf="orderBy !== 'name'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'name'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field width-15-p" (click)="sortClients('createdBy', sortBy)">
                {{ 'Created By' | translation: 'lbl_table_heading_created_by' : translationValues }}
                <i *ngIf="orderBy !== 'createdBy'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'createdBy'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field width-15-p" (click)="sortClients('createdDate', sortBy)">
                {{ 'Created Date' | translation: 'lbl_table_heading_created_date' : translationValues }}
                <i *ngIf="orderBy !== 'createdDate'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'createdDate'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field width-15-p" (click)="sortClients('modifiedBy', sortBy)">
                {{ 'Modified By' | translation: 'lbl_table_heading_modified_by' : translationValues }}
                <i *ngIf="orderBy !== 'modifiedBy'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'modifiedBy'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field width-15-p" (click)="sortClients('modifiedDate', sortBy)">
                {{ 'Modified Date' | translation: 'lbl_table_heading_modified_date' : translationValues }}
                <i *ngIf="orderBy !== 'modifiedDate'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'modifiedDate'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
            </tr>
          </thead>
          <tbody>
            <ngx-spinner [name]="spinner"></ngx-spinner>
            <tr *ngFor="let el of clientsDetails; let i = index">
              <td><i class="far fa-edit padding-5 pointer" (click)="editClient(el)"></i>
                <i class="fa fa-trash padding-5 pointer" (click)="deleteClient(el.id)"></i>
              </td>
              <td>{{el.id}}</td>
              <td>{{el.refId}}</td>
              <td>
                <span
                  ngbTooltip="{{ el.name }}">{{el.name | truncate: { sliceStart: 0, sliceEnd: characterSplice, append: '...' } }}</span>
              </td>
              <td>{{el.createdBy}}</td>
              <td>{{el.createdDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{el.modifiedBy}}</td>
              <td>{{el.modifiedDate | date: 'yyyy-MM-dd'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination p-0 float-right">
          <ngb-pagination class="p-r-5" [collectionSize]="totalClientRecord" (pageChange)="changePage($event)"
            [pageSize]="pageSize" [(page)]="currentPage" [boundaryLinks]="true"></ngb-pagination>
          <select class="form-control" (change)="changePageSize($event.target.value)">
            <option [selected]="x.count === pageSize" [value]="x.count" *ngFor="let x of paginationSize">
              {{ x.text }}
            </option>
          </select>
        </ul>
      </nav>
    </div>
  </div>
</div>