label {
  font-weight: 100;
}

.breadcrumb-item.active {
  color: inherit;
  font-weight: bold;
}

.breadcrumb {
  background-color: inherit;
}

.p-r-5 {
  padding-right: 5px;
}

.icon {
  position: absolute;
  bottom: 17px;
  margin-left: 253px;
}

.padding-right-35 {
  padding-right: 35px !important;
}
