<div class="modal-dialog w-1000 add-edit-modal" role="document">
  <div class="modal-content">
    <ngx-spinner [name]="spinner"></ngx-spinner>
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10">
              <p>{{ getTitle() | translate}} {{ 'Agent_admin' | translate }}</p>
            </div>
            <div class="col-md-2">
              <!-- <button class="btn btn-primary btn-sm float-r" (click)="showActivityLogs()">
                {{ 'Activity Logs' | translate }}
              </button> -->
            </div>
          </div>
        </div>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <form [formGroup]="agentProfileForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Employee_id' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input [maxLength]="10" type="number" class="form-control" (keypress)="isNumberKey($event)"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('employeeId')}"
                formControlName="employeeId" placeholder="{{ 'Employee_id' | translate }}" />
              <div *ngIf="hasFormControlValidationError('employeeId')" class="valid-error">
                {{ 'Employee ID is required' | translate }}
              </div>
              <ng-container *ngIf="agentSchForm.employeeId?.errors?.max">
                <div class="valid-error">
                  {{ 'Employee ID max length is 10 digits only.' | translate }}
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'SSO' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input [maxLength]="40" type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('sso')}" formControlName="sso"
                placeholder="SSO" />
              <ng-container *ngIf="formSubmitted && form.sso.invalid">
                <ng-container *ngIf="hasFormControlValidationError('sso'); else invalidCOntrol">
                  <div *ngIf="hasFormControlValidationError('sso')" class="valid-error">
                    {{ 'SSO is required' | translate }}
                  </div>
                </ng-container>
                <ng-template #invalidCOntrol>
                  <div class="valid-error">
                    {{ 'SSO is invalid' | translate }}
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Client_name' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">

              <app-client-name-typeahead [clientId]="clientId" (clientSelected)="setClient($event)">
              </app-client-name-typeahead>
              <div *ngIf="!clientId && formSubmitted" class="valid-error">
                {{ 'Client Name is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Client_lob_group' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">

              <app-client-lob-group-typeahead [clientId]="clientId" [clientLobId]="clientLobGroupId" [heirarchy]='true'
                (clientLobSelected)="setClientLobGroup($event)"></app-client-lob-group-typeahead>
              <div *ngIf="!clientLobGroupId && formSubmitted" class="valid-error">
                {{ 'Client LOB Group is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Skill_group' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <app-skill-group-typeahead (skillGroupSelected)="setSkillGroup($event)" [clientId]="clientId" [heirarchy]='true'
                [clientLobGroupId]="clientLobGroupId" [skillGroupId]="skillGroupId"></app-skill-group-typeahead>
              <div *ngIf="!skillGroupId && formSubmitted" class="valid-error">
                {{ 'Skill Group is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Skill_tag' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">

              <app-skill-tag-typeahead (skillTagSelected)="setSkillTag($event)" [clientId]="clientId" [heirarchy]='true'
                [clientLobGroupId]="clientLobGroupId" [skillGroupId]="skillGroupId" [skillTagId]="skillTagId">
              </app-skill-tag-typeahead>
              <div *ngIf="!skillTagId && formSubmitted" class="valid-error">
                {{ 'Skill Tags is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'First_name' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input [maxLength]="50" type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('firstName')}"
                formControlName="firstName" placeholder="{{ 'First_name' | translate }}" [maxLength]="maxLength" />
                <ng-container *ngIf="formSubmitted && form.firstName.invalid">
                        <ng-container *ngIf="hasFormControlValidationError('firstName'); else maxLengthError">
                          <div *ngIf="hasFormControlValidationError('firstName')" class="valid-error">
                        {{ 'First Name is required' | translate }}
                      </div>
                        </ng-container>
                        <ng-template #maxLengthError>
                          <div class="valid-error">
                            {{ 'First Name cannot exceed 50 characters' | translate }}
                          </div>
                        </ng-template>
                      </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Last_name' | translate }}
                <span class="required">*</span></label>
            </div>
            <div class="col-md-8">
              <input [maxLength]="50" type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('lastName')}" formControlName="lastName"
                placeholder="{{ 'Last_name' | translate }}" [maxLength]="maxLength" />
                <ng-container *ngIf="formSubmitted && form.lastName.invalid">
                        <ng-container *ngIf="hasFormControlValidationError('lastName'); else maxLengthError">
                           <div *ngIf="hasFormControlValidationError('lastName')" class="valid-error">
                        {{ 'Last Name is required' | translate }}
                      </div>
                        </ng-container>
                        <ng-template #maxLengthError>
                          <div class="valid-error">
                            {{ 'Last Name cannot exceed 50 characters' | translate }}
                          </div>
                        </ng-template>
                      </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Hire_date' | translate }}
                <span class="required">*</span></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <input [maxLength]="10" class="form-control" placeholder="{{ 'Select_hire_date'  | translate }} (yyyy-mm-dd)" name="dp"
                  [ngClass]="{'valid-border-error': hasFormControlValidationError('hireDate')}"
                  formControlName="hireDate" ngbDatepicker [footerTemplate]="footerTemplate"
                  [minDate]="{year: 1990, month: 1, day: 1}" #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar"
                    [ngClass]="{'valid-border-error': hasFormControlValidationError('hireDate')}"
                    (click)="d.toggle()"></button>
                </div>
                <ng-template #footerTemplate>
                  <button class="btn btn-primary btn-sm m-2 float-left" (click)="setHireDateAsToday(); d.close()"
                    id="btn_today">{{ 'Today' | translate }}</button>
                  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()" id="btn_close">{{ 'Close'
                    | translate }}</button>
                </ng-template>
              </div>
              <div *ngIf="hasFormControlValidationError('hireDate')" class="valid-error">
                {{ 'Hire Date is required' | translate }}
              </div>
              <div *ngIf="formSubmitted && !validateHireDateFormat() && !hasFormControlValidationError('hireDate')" class="valid-error">
                {{ 'Please enter a valid Hire Date in yyyy-mm-dd format' | translate }}
              </div>
              <!--
              <ng-container *ngIf="form.hireDate.status.invalid">
                <div class="valid-error">
                  Incorrect Date format {{ form.hireDate }}
                </div>
              </ng-container>--->
            </div>
          </div>
        </div>

        <!-- Team Lead Info -->
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Team Lead Name' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input [maxLength]="50" type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('supervisorName')}"
                formControlName="supervisorName" placeholder="{{ 'Team Lead Name' | translate }}" [maxLength]="maxLength" />
                <ng-container *ngIf="formSubmitted && form.supervisorName.invalid">
                        <ng-container *ngIf="hasFormControlValidationError('supervisorName'); else maxLengthError">
                            <div *ngIf="hasFormControlValidationError('supervisorName')" class="valid-error">
                        {{ 'Team Lead Name is required' | translate }}
                      </div>
                        </ng-container>
                        <ng-template #maxLengthError>
                          <div class="valid-error">
                            {{ 'Team Lead Name cannot exceed 50 characters' | translate }}
                          </div>
                        </ng-template>
                      </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Team Lead SSO' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input [maxLength]="40" type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('supervisorSso')}"
                formControlName="supervisorSso" placeholder="SSO" />
              <ng-container *ngIf="formSubmitted && form.supervisorSso.invalid">
                <ng-container *ngIf="hasFormControlValidationError('supervisorSso');">
                  <div *ngIf="form.supervisorSso.errors.required" class="valid-error">
                    {{ 'Team Lead SSO is required' | translate }}
                  </div>
                </ng-container>
                <ng-container *ngIf="form.supervisorSso.errors.sameSSO">
                  <div class="valid-error">
                    {{ 'Employee SSO and Team Lead SSO should not be the same' | translate }}
                  </div>
                </ng-container>
                
                <ng-container *ngIf="!form.supervisorSso.errors.required && form.supervisorSso.errors.invalid">
                  <div class="valid-error">
                    {{ 'Team Lead SSO is invalid' | translate }}
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Team Lead EID' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input [maxLength]="10" type="number" class="form-control" (keypress)="isNumberKey($event)"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('supervisorId')}"
                formControlName="supervisorId" placeholder="{{ 'Team Lead EID' | translate }}" />
                <ng-container *ngIf="formSubmitted && form.supervisorId.invalid">
                  <div *ngIf="form.supervisorId.errors.required" class="valid-error">
                    {{ 'Team Lead EID is required' | translate }}
                  </div>
                  <ng-container *ngIf="form.supervisorId.errors.sameEmployeeId">
                    <div class="valid-error">
                      {{ 'Employee ID and Team Lead ID should not be the same' | translate }}
                    </div>
                  </ng-container>
                  <ng-container *ngIf="agentSchForm.supervisorId?.errors?.max">
                    <div class="valid-error">
                      {{ 'Supervisor ID max length is 10 digits only.' | translate }}
                    </div>
                  </ng-container>
                </ng-container>
            </div>
          </div>
        </div>
        <!-- End of Team Lead Info -->
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="saveAgentAdminDetails()"
              id="btn_save">
              <i class="fa fa-save padding-5"></i>{{ 'Save' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>