<div class="modal-dialog w-1000 add-edit-modal" role="document">
  <div class="modal-content">
    <ngx-spinner [name]="spinner"></ngx-spinner>
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <p>{{ getTitle()}} {{ 'Agent Admin' | translation: 'lbl_add_edit_page_title' : translationValues }}</p>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <form [formGroup]="agentProfileForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Employee ID' | translation: 'lbl_add_edit_employee_id' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('employeeId')}"
                formControlName="employeeId" placeholder="Employee ID" />
              <div *ngIf="hasFormControlValidationError('employeeId')" class="valid-error">
                {{ 'Employee ID is required' | translation: 'lbl_add_edit_employee_id_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'SSO' | translation: 'lbl_add_edit_sso' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('sso')}" formControlName="sso"
                placeholder="SSO Email" />
              <ng-container *ngIf="formSubmitted && form.sso.invalid">
                <ng-container *ngIf="hasFormControlValidationError('sso'); else invalidCOntrol">
                  <div *ngIf="hasFormControlValidationError('sso')" class="valid-error">
                    {{ 'SSO is required' | translation: 'lbl_add_edit_sso_required_validation_message' : translationValues }}
                  </div>
                </ng-container>
                <ng-template #invalidCOntrol>
                  <div class="valid-error">
                    {{ 'SSO is invalid' | translation: 'lbl_add_edit_sso_invalid_validation_message' : translationValues }}
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Client Name' | translation: 'lbl_add_edit_client_name' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">

              <app-client-name-typeahead [clientId]="clientId" (clientSelected)="setClient($event)">
              </app-client-name-typeahead>
              <div *ngIf="!clientId && formSubmitted" class="valid-error">
                {{ 'Client Name is required' | translation: 'lbl_add_edit_client_name_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Client LOB Group' | translation: 'lbl_add_edit_client_lob_group' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">

              <app-client-lob-group-typeahead [clientId]="clientId" [clientLobId]="clientLobGroupId"
                (clientLobSelected)="setClientLobGroup($event)"></app-client-lob-group-typeahead>
              <div *ngIf="!clientLobGroupId && formSubmitted" class="valid-error">
                {{ 'Client LOB Group is required' | translation: 'lbl_add_edit_client_lob_group_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Skill Group' | translation: 'lbl_add_edit_skill_group' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <app-skill-group-typeahead (skillGroupSelected)="setSkillGroup($event)" [clientId]="clientId"
                [clientLobGroupId]="clientLobGroupId" [skillGroupId]="skillGroupId"></app-skill-group-typeahead>
              <div *ngIf="!skillGroupId && formSubmitted" class="valid-error">
                {{ 'Skill Group is required' | translation: 'lbl_add_edit_skill_group_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Skill Tag' | translation: 'lbl_add_edit_skill_tag' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">

              <app-skill-tag-typeahead (skillTagSelected)="setSkillTag($event)" [clientId]="clientId"
                [clientLobGroupId]="clientLobGroupId" [skillGroupId]="skillGroupId" [skillTagId]="skillTagId">
              </app-skill-tag-typeahead>
              <div *ngIf="!skillTagId && formSubmitted" class="valid-error">
                {{ 'Skill Tags is required' | translation: 'lbl_add_edit_skill_tag_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'First Name' | translation: 'lbl_add_edit_first_name' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('firstName')}"
                formControlName="firstName" placeholder="First Name" />
              <div *ngIf="hasFormControlValidationError('firstName')" class="valid-error">
                {{ 'First Name is required' | translation: 'lbl_add_edit_first_name_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Last Name' | translation: 'lbl_add_edit_last_name' : translationValues }}
                <span class="required">*</span></label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('lastName')}" formControlName="lastName"
                placeholder="Last Name" />
              <div *ngIf="hasFormControlValidationError('lastName')" class="valid-error">
                {{ 'Last Name is required' | translation: 'lbl_add_edit_last_name_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Hire Date' | translation: 'lbl_add_edit_hire_date' : translationValues }}
                <span class="required">*</span></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <input class="form-control" placeholder="Select Hire Date" name="dp" [readonly]="true"
                  [ngClass]="{'valid-border-error': hasFormControlValidationError('hireDate')}"
                  formControlName="hireDate" ngbDatepicker [footerTemplate]="footerTemplate"
                  [minDate]="{year: 1990, month: 1, day: 1}" #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar"
                    [ngClass]="{'valid-border-error': hasFormControlValidationError('hireDate')}"
                    (click)="d.toggle()"></button>
                </div>
                <ng-template #footerTemplate>
                  <button class="btn btn-primary btn-sm m-2 float-left" (click)="setHireDateAsToday(); d.close()"
                    id="btn_today">Today</button>
                  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()"
                    id="btn_close">Close</button>
                </ng-template>
              </div>
              <div *ngIf="hasFormControlValidationError('hireDate')" class="valid-error">
                {{ 'Hire Date is required' | translation: 'lbl_add_edit_hire_date_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="saveAgentAdminDetails()"
              id="btn_save">
              <i class="fa fa-save padding-5"></i>{{ 'Save' | translation: 'btn_save' : translationValues }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>