.modal-dialog {
  margin: auto;
}

.center {
  text-align: center;
}

.font-20 {
  font-size: 20px;
}

.w-30p {
  width: 30%;
}

ul{
  height:100px;
  width: 80%;
  list-style-position: inside;
  margin: auto;
}
ul{overflow:hidden; overflow-y:scroll;}