<div class="row m-l-r-10 m-b-10">
  <div class="col-md-3 d-flex flex-column">
    {{ 'Agent_scheduling_group' | translate }}
    <app-agent-scheduling-group-typeahead [agentSchedulingGroupId]="agentSchedulingGroupId"
      (agentSchedulingGroupSelected)="onSchedulingGroupChange($event)">
    </app-agent-scheduling-group-typeahead>
  </div>
  <div *ngIf="agentScheduleType == 1" class="col-md-3 d-flex flex-column padding-t-24">
    <div class="input-group">
      <input class="form-control" placeholder="{{'Select Start Date' | translate}}" name="dp" ngbDatepicker
        [readonly]="true" [(ngModel)]="startDate" [footerTemplate]="footerTemplate"
        [minDate]="{year: 1990, month: 1, day: 1}" #d="ngbDatepicker" (dateSelect)="onSelectStartDate($event)">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"></button>
      </div>
      <ng-template #footerTemplate>
        <button class="btn btn-primary btn-sm m-2 float-left" (click)="setStartDateAsToday();d.close()"
          id="btn_today">{{'Today' | translate}}</button>
      </ng-template>
    </div>
  </div>
  <div class="col-md-2 col-sm-6 padding-t-24">
    <input type="text" class="form-control padding-right-35" placeholder="{{'Type_here_to_search' | translate}}"
      [(ngModel)]="searchKeyword" [maxLength]="maxLength">
      <span *ngIf="searchKeyword?.length > 0" class="fa fa-times close-icon pointer" (click)="clearSearchText()"></span>
  </div>
  <div class="col-md-2 col-sm-6">
    <button class="form-control mt-4" id="btn_search" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i>
      {{ 'Search' | translate }}
    </button>
  </div>
</div>