.breadcrumb-item.active {
    color: inherit;
  }
  
  .breadcrumb {
    background-color: inherit;
  }

  .card {
    margin-bottom: 0!important;
    background-color: #8eb7e39e;
    padding: 2px;
  }

  .icon-image {
    height: 38px;
    width: 38px;
    cursor: pointer;
  }