<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2 id="page_title">{{ 'Agent Category Value' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>{{ 'System Admin' | translate }}</a></li>
        <li class="breadcrumb-item active"><b>{{ 'Agent Category Value' | translate }}</b> </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 d-flex flex-column">
      {{ 'Agent_scheduling_group' | translate }}
      <app-agent-scheduling-group-typeahead [agentSchedulingGroupId]="agentSchedulingGroupId"
        (agentSchedulingGroupSelected)="onSchedulingGroupChange($event)">
      </app-agent-scheduling-group-typeahead>
    </div>
    <div class="col-md-3 d-flex flex-column">
      {{ 'Agent Category' | translate }}
      <app-agent-categories-typeahead [agentCategoryId]="agentCategoryId"
        (agentSchedulingGroupSelected)="onAgentCategoryChange($event)">
      </app-agent-categories-typeahead>
    </div>
    <div class="col-md-2 d-flex flex-column">
      <button class="form-control mt-4"><i class="fa fa-search" aria-hidden="true"></i>
        {{ 'Search' | translate }}
      </button>
    </div>
  </div>
  <div class="card card-primary card-outline card-outline-tabs mt-4">
    <div class="card-header p-0 border-bottom-0">
      <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
        <li class="pull-right marign-l-auto margin-5">
          <button [ngbTooltip]="'Import'"
            class="btn btn-primary d  mr-2"><i class="fa fa-upload"></i></button>
          <button [ngbTooltip]="'Export'"
            class="btn btn-primary d  mr-2"><i class="fa fa-download"></i></button>
            <!-- <button [ngbTooltip]="'Save'"
            class="btn btn-primary d  mr-2"><i class="fa fa-floppy-o"></i></button> -->
            <img src="assets/images/floppy-icon.png" class="icon-image float-right padding-2" [ngbTooltip]="'Save'"
            >
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-2 table-responsive">
      <div class="scrollable-table">
        <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
          <thead>
            <tr>
              <th *permission="{rolesPermitted: [1,2]}">
                {{ 'Action' | translate }}
              </th>
             
              <th class="sortable-field" >
                {{ 'Employee ID' | translate }}
                <i *ngIf="orderBy !== 'refId'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'refId'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" >
                {{ 'First Name' | translate }}
                <i *ngIf="orderBy !== 'name'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'name'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" >
                {{ 'Last Name' | translate }}
                <i *ngIf="orderBy !== 'createdBy'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'createdBy'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" >
                {{ 'Start Date' | translate }}
                <i *ngIf="orderBy !== 'createdDate'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'createdDate'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" >
                {{ 'Value' | translate }}
                <i *ngIf="orderBy !== 'modifiedBy'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'modifiedBy'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
            </tr>
          </thead>
          <tbody>
            <ngx-spinner [name]="spinner"></ngx-spinner>
            <tr *ngIf="agentCategoryValues?.length === 0" class="valid-record">
              <td colspan="12">
                {{ 'No match records found' | translate }}</td>
            </tr>
            <tr *ngFor="let el of agentCategoryValues; let i = index">
              <td *permission="{rolesPermitted: [1,2]}"><i class="fa fa-edit padding-5 pointer"
                  ></i>
                <i class="fa fa-trash padding-5 pointer"></i>
              </td>
              <!--<td>{{el.id}}</td>-->
              <td>{{el.employeeId}}</td>
              <td>
                <span
                  ngbTooltip="{{ el.firstName}}">{{el.firstName| truncate: { sliceStart: 0, sliceEnd: characterSplice, append: '...' } }}</span>
              </td>
              <td>
                <span
                  ngbTooltip="{{ el.lastName }}">{{el.lastName | truncate: { sliceStart: 0, sliceEnd: characterSplice, append: '...' } }}</span>
              </td>
              <td>
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination p-0 float-right">
          <ngb-pagination class="p-r-5 pagination" [collectionSize]="totalRecord" [rotate]="true"
            [maxSize]="10" (pageChange)="changePage($event)" [pageSize]="pageSize" [(page)]="currentPage"
            [boundaryLinks]="true">
          </ngb-pagination>
          <select class="form-control" (change)="changePageSize($event.target.value)">
            <option [selected]="x.count === pageSize" [value]="x.count" *ngFor="let x of paginationSize">
              {{ x.text | translate }}
            </option>
          </select>
        </ul>
      </nav>
    </div>
  </div>
</div>