<div class="modal-dialog w-1000 add-edit-modal" role="document">
  <div class="modal-content">
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <p>{{title}} {{ 'Translation' | translation: 'lbl_add_edit_page_title' : translationValues }}</p>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <form [formGroup]="translationForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Language' | translation: 'lbl_add_edit_language' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('language')}"
                formControlName="language">
                <option value="">{{ 'Select' | translation: 'drp_default_Select' : translationValues }}</option>
                <option *ngFor="let x of languages" [value]="x">{{x}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('language')" class="valid-error">
                {{ 'Language is required' | translation: 'lbl_add_edit_language_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Menu' | translation: 'lbl_add_edit_menu' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('menu')}" formControlName="menu">
                <option value="">{{ 'Select' | translation: 'drp_default_Select' : translationValues }}</option>
                <option *ngFor="let x of menus" [value]="x">{{x}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('menu')" class="valid-error">
                {{ 'Menu is required' | translation: 'lbl_add_edit_menu_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Variable' | translation: 'lbl_add_edit_variable' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('variableId')}"
                formControlName="variableId">
                <option value="">{{ 'Select' | translation: 'drp_default_Select' : translationValues }}</option>
                <option *ngFor="let x of variables" [value]="x">{{x}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('variableId')" class="valid-error">
                {{ 'Variable is required' | translation: 'lbl_add_edit_variable_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Description' | translation: 'lbl_add_edit_description' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="description">
              <div *ngIf="hasFormControlValidationError('description')" class="valid-error">
                {{ 'Description is required' | translation: 'lbl_add_edit_description_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Translation' | translation: 'lbl_add_edit_translations' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="translation">
              <div *ngIf="hasFormControlValidationError('translation')" class="valid-error">
                {{ 'Translation is required' | translation: 'lbl_add_edit_translation_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="save()" id="btn_save">
              <i class="fa fa-save padding-5"></i>{{ 'Save' | translation: 'btn_save' : translationValues }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>