<div class="modal-dialog custom-alert" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="sa">
        <div class="sa-warning">
          <div class="sa-warning-body"></div>
          <div class="sa-warning-dot"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center confirm-message font-20"><b>{{ headingMessage | translate }}</b></p>
        </div>
        <div class="col-md-12">
          <ng-container [ngSwitch]="messageType">
            <ng-container *ngSwitchCase="renderType.String">
              <p class="text-center confirm-message">{{contentMessage  | translate }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="renderType.Html">
              <p [innerHtml]="contentMessage | safeHtml" class="text-center confirm-message"></p>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="confirm-button center">
            <a class="mr-2">
              <button class="btn btn-primary w-30p" (click)="activeModal.close('Close click')">OK</button>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>