<ng-select [items]="employeeItemsBuffer" [loading]="loading" bindLabel="firstName" bindValue="employeeId"
  [typeahead]="typeAheadInput$"
  placeholder="{{ 'Click here to search an Employee' | translation: 'drp_select_an_employee' : translationValues }}"
  (scroll)="onEmployeeScroll($event)" (scrollToEnd)="onEmployeeScrollToEnd()" (change)="onEmployeeChange($event)"
  (clear)="clearSelectedEmployee()" [(ngModel)]="employeeId">
  <ng-template ng-header-tmp>
    <small class="form-text text-muted">Loaded {{employeeItemsBuffer.length}} of
      {{totalItems}} </small>
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-index="index">
    <span container="body" ngbTooltip="{{ item.firstName }}">
      {{ item.firstName | truncate: { sliceStart: 0, sliceEnd: characterSplice, append: '...' } }}
    </span>
  </ng-template>
</ng-select>