<ng-select [items]="employeeItemsBuffer" [loading]="loading" bindLabel="firstName" bindValue="employeeId"
  [typeahead]="typeAheadInput$"
  placeholder="{{ 'Click_here_to_search_an_employee' | translate }}"
  (scroll)="onEmployeeScroll($event)" (scrollToEnd)="onEmployeeScrollToEnd()" (change)="onEmployeeChange($event)"
  (clear)="clearSelectedEmployee()" [(ngModel)]="employeeId">
  <ng-template ng-header-tmp>
    <small class="form-text text-muted">{{ 'Loaded' | translate }} {{employeeItemsBuffer.length}} {{ 'of' | translate }}
      {{totalItems}} </small>
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-index="index">
    <span container="body" ngbTooltip="{{ item.firstName }}">
      {{ item.firstName | truncate: { sliceStart: 0, sliceEnd: characterSplice, append: '...' } }}
    </span>
  </ng-template>
</ng-select>