<div class="container-fluid ">
    <div class="row">
        <div class="col-12 col-md-12">
            <h2 id="page_title" class="mt-2">Forecast Screen</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a>Scheduling Menu</a></li>
                <li class="breadcrumb-item active"><b>Forecast Screen</b> </li>
            </ol>
        </div>
    </div>

    <div class="row m-b-10">
        <div class="col-md-3 d-flex flex-column">
            <ng-select [items]="skillGroupItemsBuffer" [loading]="loading" bindLabel="name" bindValue="id"
                placeholder="{{'All' | translate}}" [typeahead]="typeAheadInput$" (scroll)="onSkillGroupScroll($event)"
                (scrollToEnd)="onSkillGroupScrollToEnd()" (change)="onSkillGroupChange($event);change($event)"
                (clear)="clearSkillGroupValues()" [(ngModel)]="skillgroupID">
                <ng-template ng-header-tmp>
                    <small class="form-text text-muted">{{'Loaded' | translate }} {{skillGroupItemsBuffer.length}}
                        {{'of' | translate}}
                        {{totalItems}}</small>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    <span container="body" ngbTooltip="{{ item.name }}">
                        {{ item.name | truncate: { sliceStart: 0, sliceEnd: characterSplice, append: '...' } }}
                    </span>
                </ng-template>
            </ng-select>
        </div>
        <div class="col-md-3 d-flex flex-column">
            <div class="input-group">
                <input class="form-control" placeholder="{{today}}" name="d2" #c2="ngModel" [(ngModel)]="model2"
                    ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <button (click)="loadSkillGroup()" class="form-control" id="btn_search"><i class="fa fa-search"
                    aria-hidden="true"></i>
                {{ 'Search' | translate }}
            </button>
        </div>
    </div>

</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 mt-2 table-responsive">

            <ng-container>
                <ngx-spinner [name]="forecastSpinner"></ngx-spinner>
                <!-- forecast screen table -->
                <form *ngIf="forecastForm" [formGroup]="forecastForm">
                    <div class="row my-2">
                        <div class="col-lg-6">
                            <label for=""><strong>{{skillGroupBinder?.name}}</strong></label>
                            <input type="hidden" [value]="skillGroupBinder?.id">
                        </div>
                        <div *ngIf="enableImportButton == true" [ngClass]="{'d-block': enableImportButton}"
                            class="d-none col-lg-6 pull-right marign-l-auto">

                            <img (click)="exportToExcel()" src="assets/images/Export.jpg" class="icon-image float-right padding-2"
                                [ngbTooltip]="'Export'" >
                            <img src="assets/images/Import.jpg" class="icon-image float-right padding-2"
                                [ngbTooltip]="'Import'" (click)="openImportSchedule()">

                        </div>
                    </div>


                    <div class="scrollable-table forecastContainer" #epltable>
                        <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Forecasted Contacts</th>
                                    <th>AHT</th>
                                    <th>Forecasted Req</th>
                                    <th>Scheduled Open</th>

                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="skillGroupBinder?.id == null;else enableField">
                                    <tr *ngFor="let item of dataJson; let i = index">
                                        <ng-container >

                                            <td>
                                              
                                               {{item.time}}
                                                
                                            </td>   

                                            <td (dblclick)="checkSkillId()">
                                                <span class="d-none">{{item.forecastedContact}}</span>
                                                <input type="text" value="{{item.forecastedContact}}"></td>
                                            <td (dblclick)="checkSkillId()"><input type="text" value="{{item.aht}}"></td>
                                            <td (dblclick)="checkSkillId()"><input type="text" value="{{item.forecastedReq}}"></td>
                                            <td (dblclick)="checkSkillId()"><input type="text" value="{{item.scheduledOpen}}"></td>
                                        </ng-container>
                                    </tr>

                                </ng-container>
                                <ng-template #enableField> 

                                    <ng-container formArrayName="forecastFormArrays">

                                        <tr *ngFor="let capability of formData.controls; let i = index; let x = index">
                                            <ng-container [formGroupName]="i">

                                                <td>
                                                    <!-- {{dataJson[i].Time}}  -->
                                                    <label for="">{{dataJson[i].time}}</label>
                                                    <input formControlName="time" type="hidden">
                                                </td>

                                                <td >
                                                 <span class="d-none">{{dataJson[i].forecastedContact}}</span>
                                                    <input [class.enabled]="!isEnabled['forecastedContact' + i]" (click)="isEnabled['forecastedContact' + i] = !isEnabled['forecastedContact' + i];" [readonly]="isEnabled['forecastedContact' + i]" numberOnly (change)="showBtn()"
                                                        formControlName="forecastedContact" type="text"
                                                        class="">
                                                </td>
                                                <td>
                                                    <span class="d-none">{{dataJson[i].aht}}</span>
                                                    <input [class.enabled]="!isEnabled[i + x]" (click)="isEnabled[i + x] = !isEnabled[i + x];"  [readonly]="isEnabled[i + x]"  numberOnly (change)="showBtn()"
                                                        formControlName="aht" type="text" class=""></td>
                                                <td>
                                                    <span class="d-none">{{dataJson[i].forecastedReq}}</span>
                                                    
                                                    <input [class.enabled]="!isEnabled[i + x]" (click)="isEnabled[i + x] = !isEnabled[i + x];"   [readonly]="isEnabled[i + x]" numberOnly (change)="showBtn()"
                                                        formControlName="forecastedReq" type="text"
                                                        class="">
                                                </td>
                                                <td>
                                                    <span class="d-none">{{dataJson[i].scheduledOpen}}</span>
                                                    <input [readonly]="true" [class.enabled]="!isEnabled[i + 1]" (click)="isEnabled[i + 1] = !isEnabled[i + 1];"  numberOnly (change)="showBtn()"
                                                        formControlName="scheduledOpen" type="text"
                                                        class="">
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                 </ng-template> 
                            </tbody>
                            <tfoot>
                                <tr class="tr-1">
                                    <td>
                                        
                                        <span><strong>Total</strong></span>
                                        <br>
                                        <hr>
                                        <span><strong>Average</strong></span>

                                    </td>
                                    <td class="forecastContact">
                                        <span><strong>{{ sumForecastContact }}</strong></span>
                                        <br>
                                        <hr>
                                        <span></span>
                                    </td>
                                    <td>
                                        <span><strong>{{ sumAHT }}</strong></span>
                                        <br>
                                        <hr>
                                        <span></span>
                                    </td>
                                    <td> <span><strong>{{ sumForecastedReq }}</strong></span>
                                        <br>
                                        <hr>
                                        <span></span>
                                    </td>
                                    <td> <span><strong>{{ sumScheduledOpen }}</strong></span>
                                        <br>
                                        <hr>
                                        <span></span>
                                    </td>

                                </tr>

                            </tfoot>
                        </table>
                    </div>
                </form>
                <!-- /forecast screen table -->
            </ng-container>



        </div>
    </div>
    <div class="footer-button float-right">
        <button (click)="addForecastData()" *ngIf="enableSaveButton == true" [ngClass]="{'d-block': enableSaveButton}"
            class="btn btn-primary d-none mt-3">Save</button>
    </div>
</div>