<div class="modal-dialog w-1000 add-edit-modal" role="document">
  <div class="modal-content">
    <ngx-spinner [name]="spinner"></ngx-spinner>
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <!-- <p>{{ getTitle() }} {{ 'Scheduling Code' | translation: 'lbl_add_edit_page_title' : translationValues }}
        </p> -->
        <p>{{ getTitle() }} {{ 'Scheduling_codes' | translate }}</p>

      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 modal-style">
      <form [formGroup]="schedulingCodeForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>
                {{ 'ID' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="refId" [maxLength]="10" integeronly onpaste="return false;" />
              <ng-container *ngIf="formSubmitted && schedulingCodeForm.controls.refId.invalid">
                <ng-template #maxLengthError>
                  <div class="valid-error">
                    {{ 'ID cannot exceed 10 characters' | translate }}
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>
                {{ 'Description' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="description" [maxLength]="maxLength" />
              <ng-container *ngIf="formSubmitted && schedulingCodeForm.controls.description.invalid">
                <ng-container *ngIf="hasFormControlValidationError('description'); else maxLengthError">
                  <div *ngIf="hasFormControlValidationError('description')" class="valid-error">
                    {{ 'Description is required' | translate }}
                  </div>
                </ng-container>
                <ng-template #maxLengthError>
                  <div class="valid-error">
                    {{ 'Description cannot exceed 50 characters' | translate }}
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Priority' | translate }} #
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="priorityNumber" [maxLength]="maxPriority"
              integeronly onpaste="return false;" />
              <ng-container *ngIf="formSubmitted && schedulingCodeForm.controls.priorityNumber.invalid">
                <ng-container *ngIf="hasFormControlValidationError('priorityNumber'); else maxLengthError">
                  <div *ngIf="hasFormControlValidationError('priorityNumber')" class="valid-error">
                    {{ 'Priority # is required' | translate }}
                  </div>
                </ng-container>
                <ng-template #maxLengthError>
                  <div class="valid-error">
                    {{ 'Priority # cannot exceed 10 characters' | translate }}
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>
                {{ 'Type_of_code' | translate }}
              </label>
              <span class="required"> *</span>
            </div>
            <div class="col-md-8 grid">
              <div class="form-group clearfix margin-b-05-rem" *ngFor="let data of codeList; let i = index">
                <div class="icheck-primary d-inline">
                  <input type="checkbox" id="{{ data.id }}" [value]="data.id" [checked]="hasValueSelected(data.id)"
                    (change)="onCheckboxChange($event)">
                  <label for="{{ data.id }}">
                    {{ data.value }}
                  </label>
                </div>
              </div>
              <div *ngIf="hasFormControlValidationError('schedulingTypeCode')" class="valid-error">
                {{ 'Type of Code is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>
                {{ 'Time Off Code' | translate }}
              </label>
            </div>
            <div class="col-md-8 grid">
              <div class="form-group clearfix margin-b-05-rem">
                <div class="icheck-primary d-inline">
                  <input type="checkbox" id="timeOffCode" formControlName="timeOffCode">
                  <label for="timeOffCode">
                    {{'Yes' | translate}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>
                {{ 'Schedule_icon' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <div class="container">
                    <div class="card" id="my-card">
                      <div class="card-header">
                        <h3 class="card-title">
                          <ng-container *ngIf="iconId?.length; else noIcon">
                            <i class="icon-style icon">{{ unifiedToNative(iconId) }}</i>
                          </ng-container>
                          <ng-template #noIcon>
                            {{ 'Select_icon' | translate }}
                          </ng-template>
                        </h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body icon-div">
                        <cdk-virtual-scroll-viewport itemSize="0" minBufferPx="500" maxBufferPx="1000"
                          class="example-viewport">
                          <div class="icon-inner list">
                            <ng-container *cdkVirtualFor="let icon of schedulingIcons;">
                              <i class="icon-style icon" [ngClass]="{'icon-active': iconId === icon?.value}"
                                (click)="onIconSelect(icon)">
                                {{ unifiedToNative(icon?.value) }}</i>
                            </ng-container>
                          </div>
                        </cdk-virtual-scroll-viewport>
                      </div>
                    </div>
                    <div *ngIf="hasFormControlValidationError('iconId')" class="valid-error">
                      {{ 'Schedule Icon is required' | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="saveSchedulingCodeDetails()"
              id="btn_save">
              <i class="fa fa-save padding-5"></i>
              {{ 'Save' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>