<div class="container-fluid ">
    <div class="row">
        <div class="col-12 col-md-12">
            <h2 id="page_title" class="mt-2">{{ 'Entity-hierarchy' | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a>{{ 'Scheduling_menu' | translate }}</a></li>
                <li class="breadcrumb-item active"><b>{{ 'Entity-hierarchy' | translate }}</b> </li>
            </ol>
        </div>
    </div>

    <div class="row m-l-r-10">
        <div class="col-md-3">
            {{ 'Client_name' | translate }}
            <app-client-name-typeahead (clientSelected)="setClient($event)"></app-client-name-typeahead>
        </div>
    </div>

    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="dual-list list-right col-md-6">
                <div class="well">

                    <div class="card text-m" >
                        <ngx-spinner [name]="spinnerLeft"></ngx-spinner>
                            <div class="card-header">
                              <h3 class="card-title text-m"> {{ 'Entity-hierarchy' | translate }}</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                                <div class="container p-3">
                                    <ng-container *ngIf="entityHierarchy">
                                        <ul class="tree">
                                            <li>
                                                <span [ngStyle]="{'color': 'black'}">{{entityHierarchy.client.id}} - (Client) {{entityHierarchy.client.name}}</span>
                                                <ul>
                                                    <li *ngFor="let clientLOB of entityClientLOBs">
                                                        {{clientLOB.id}} - (LOB) {{clientLOB.name}}
                                                        <ul>
                                                            <li *ngFor="let skillGroup of clientLOB.skillGroups;">
                                                                {{skillGroup.id}} - (Skill Group) {{skillGroup.name}}
                                                                <ul>
                                                                    <li *ngFor="let skillTags of skillGroup.skillTags">
                                                                        {{skillTags.id}} - (Tags) {{skillTags.name}}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </ng-container>
                                </div>
                            </div>
                    </div>
                        
                </div>
            </div>
    
    
            <div class="dual-list list-left col-md-6">
                <div class="well">

                    <div class="card text-m">
                        <ngx-spinner [name]="spinnerRight"></ngx-spinner>
                        <div class="card-header">
                          <h3 class="card-title text-m"> {{ 'Scheduling Group' | translate }}</h3>
          
                          <div class="card-tools">
                           
                          </div>
                        </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                                <div class="container p-3">
                                    <ng-container *ngIf="entityAgentSchedulingGroups">
                                        <ul class="tree" *ngFor="let entityAgentSchedulingGroup of entityAgentSchedulingGroups">
                                            <li>
                                                <span [ngStyle]="{'color': 'black'}">{{entityAgentSchedulingGroup.id}} - (Agent Scheduling Group) {{entityAgentSchedulingGroup.name}}</span>
                                                <ul>
                                                    <li>{{entityAgentSchedulingGroup.clientId}} - (Client)
                                                        {{entityAgentSchedulingGroup.clientName}}
                                                    </li>
                                                    <li>
                                                        {{entityAgentSchedulingGroup.clientLOBId}} - (LOB)
                                                        {{entityAgentSchedulingGroup.clientLOBName}}
                                                    </li>
                                                    <li>
                                                        {{entityAgentSchedulingGroup.skillGroupId}} - (Skill Group)
                                                        {{entityAgentSchedulingGroup.skillGroupName}}
                                                    </li>
                                                    <li>
                                                        {{entityAgentSchedulingGroup.skillTagId}} - (Tag)
                                                        {{entityAgentSchedulingGroup.skillTagName}}
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>                                
                                    </ng-container>
                                </div>
                            </div>
                    </div>
            </div>
        </div>

</div>