<div class="modal-dialog-time-off add-edit-modal" role="document">
  <div class="modal-content">
    <ngx-spinner [name]="spinner"></ngx-spinner>
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <p>{{ getTitle() | translate }}
          {{ 'Time off Rule' | translate }}
        </p>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <form [formGroup]="timeOffForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>
                {{ 'Description' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="description" [maxLength]="50" />
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">
                {{ 'Time Off Code' | translate }}
                <!-- <span class="required">*</span> -->
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control" id="icon" formControlname="timeOffCode">
                <option></option>
                <option *ngFor="let fonts of timeOffCodes" class="fa" [value]="fonts.value" [innerHTML]="fonts.data">
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">
                {{ 'Start Date' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <input class="form-control" name="dp" [readonly]="true"
                  [ngClass]="{'valid-border-error': hasFormControlValidationError('startDate')}"
                  formControlName="startDate" ngbDatepicker [footerTemplate]="footerTemplate"
                  [minDate]="{year: 1990, month: 1, day: 1}" #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar"
                    [ngClass]="{'valid-border-error': hasFormControlValidationError('startDate')}"
                    (click)="d.toggle()"></button>
                </div>
                <ng-template #footerTemplate>
                  <!-- <button class="btn btn-primary btn-sm m-2 float-left" (click)="setStartDateAsToday(); d.close()"
                    id="btn_today">{{ 'Today' | translate }}</button>
                  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()" id="btn_close">{{ 'Close'
                        | translate }}</button> -->
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">
                {{ 'End Date' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <input class="form-control" name="dpp" [readonly]="true"
                  [ngClass]="{'valid-border-error': hasFormControlValidationError('endDate')}" formControlName="endDate"
                  ngbDatepicker [footerTemplate]="footerTemplate" [minDate]="{year: 1990, month: 1, day: 1}"
                  #e="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar"
                    [ngClass]="{'valid-border-error': hasFormControlValidationError('endDate')}"
                    (click)="e.toggle()"></button>
                </div>
                <ng-template #footerTemplate>
                  <!-- <button class="btn btn-primary btn-sm m-2 float-left" (click)="setEndDateAsToday(); e.close()"
                    id="btn_today">{{ 'Today' | translate }}</button>
                  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="e.close()" id="btn_close">{{ 'Close'
                        | translate }}</button> -->
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">
                {{ 'Allow day request on' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <div class="form-group d-flex">
                <ng-container *ngFor="let day of weekDays">
                  <div class="form-group clearfix margin-b-05-rem">
                    <div class="icheck-primary d-inline">
                      <input type="checkbox" id="{{ 'check_box' + getWeekDay(day) }}" name="allowDayRequestOn"
                        [value]="day" formControlName="allowDayRequestOn">
                      <label class="mr-1" for="{{ 'check_box' + getWeekDay(day) }}">
                        {{ getWeekDay(day) | translate }}
                      </label>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">
                {{ 'FTE day length' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <div class="input-group clockpicker">
                <input type="text" class="form-control" value="00:00" formControlName="FTEDayLength">
                <!-- <span class="input-group-addon">
                  <span class="fa fa-times" (click)="set()"></span>
                </span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">
                {{ 'First day of week' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control" formControlname="firstDayOfWeek">
                <option></option>
                <option *ngFor="let day of weekDays" class="fa" [value]="day">{{ getWeekDay(day) | translate }}</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <h6 class="font-weight-bold">
          <p>{{ 'Agent Access' | translate }}
          </p>
        </h6>
        <div class="form-group">
          <ng-container *ngFor="let x of timeOffAgentAccess; let i=index;">
            <div class="form-group clearfix margin-b-05-rem">
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="{{ 'check_box' + i }}" name="agentAccess" [value]="x.id"
                  formControlName="agentAccess">
                <label class="mr-1" for="{{ 'check_box' + i }}">
                  {{ x.value | translate }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
        <hr>
        <h6 class="font-weight-bold">
          <p>{{ 'Full Weeks' | translate }}
          </p>
        </h6>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">
                {{ 'Number of days to force off before a week' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" [maxLength]="50" />
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">
                {{ 'Number of days to force off after a week' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" [maxLength]="50" />
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">
                {{ 'Allow full week requests on' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <div class="form-group d-flex">
                <ng-container *ngFor="let day of weekDays">
                  <div class="form-group clearfix margin-b-05-rem">
                    <div class="icheck-primary d-inline">
                      <input type="checkbox" id="{{ 'request_check_box' + getWeekDay(day) }}" name="allowDayRequestOn"
                        [value]="day" formControlName="allowDayRequestOn">
                      <label class="mr-1" for="{{ 'request_check_box' + getWeekDay(day) }}">
                        {{ getWeekDay(day) | translate }}
                      </label>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h6 class="font-weight-bold">
          <p>{{ 'Deselected Time' | translate }}
          </p>
        </h6>
        <div class="form-group">
          <ng-container *ngFor="let x of deselectedTimeOption; let i=index;">
            <div *ngIf="i < 2" class="form-group clearfix margin-b-05-rem">
              <div class="icheck-primary d-inline">
                <input type="radio" id="{{ 'radio_box' + i }}" name="deselectedTime" [value]="x.id">
                <label class="mr-1" for="{{ 'radio_box' + i }}">
                  {{ x.value | translate }}
                </label>
              </div>
            </div>
            <div *ngIf="i == 2" class="form-group clearfix margin-b-05-rem">
              <div class="icheck-primary d-inline">
                <input type="radio" id="{{ 'radio_box_o' + i }}" name="deselectedTimeRadio" [value]="x.id">
                <label class="mr-1" for="{{ 'radio_box_o' + i }}">
                  {{ x.value | translate }}
                </label>
              </div>
            </div>
            <div *ngIf="i==3" class="form-group clearfix margin-b-05-rem">
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="{{ 'deselect_check_box' + i }}" name="deselectedTime" [value]="x.id">
                <label class="mr-1" for="{{ 'deselect_check_box' + i }}">
                  {{ x.value | translate }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="save()">
              <i class="fa fa-save padding-5"></i>
              {{ 'Save' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>