
<div class="well">
    <span class="text-bold" *ngIf="listPosition=='left';else rightListLabel">Scheduling Group</span>
    <ng-template #rightListLabel><span class="text-bold">Scheduling Group Destination</span></ng-template>
    
    <div class="row">
        <div class="col-md-12">
            <app-move-agents-scheduling-group-typeahead [listPosition]="listPositionTypeAhead"
            (agentSchedulingGroupSelected)="onSchedulingGroupChange($event)">
            </app-move-agents-scheduling-group-typeahead>
        </div>
    </div>
    <br/>
    <div class="card text-sm">
        <ngx-spinner [name]="spinner"></ngx-spinner>
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h3 class="card-title text-xs"><span class="text-bold">{{'Number of agents' | translate }}: </span> <i>Loaded {{ (agentAdmins$ | async)?.length || '0' | number  }} of {{(totalAgentAdminsRecord$ | async) || '0' | number }}</i>
                            <br>
                            <br>
                            <ng-container *ngIf="listPosition=='left' && agentSchedulingGroupId > 0"><span class="text-bold">Number of highlighted agents: </span><i>{{selectedAgentAdminIds.length || '0' | number }}</i></ng-container> <!-- NO TRANSLATION -->
                        </h3>                                                                    
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group" *ngIf="agentSchedulingGroupId > 0">
                            <input type="text" class="form-control border-right-0" [(ngModel)]="searchKeyword"
                            placeholder="{{ 'Search' | translate }}" [maxLength]="20" />
                            
                            <div class="input-group-append border-left-0" *ngIf="searchKeyword?.length > 0" >
                                <button class="form-control border-left-0 border-right-0 rounded-0" (click)="clearSearchText()"><i class="fa fa-times close-icon pointer m-0"></i></button>
                            
                            </div>
                            <div class="input-group-append border-left-0">
                                <button class="form-control border-left-0" (click)="search()" id="btn_search"><i class="fa fa-search"
                                    aria-hidden="true"></i>
                                    {{ 'Search' | translate }}
                                </button>
                            </div>
                          </div>
                  
                    </div>
                </div>
               
                
                <!-- <div class="card-tools">
                </div> -->
            </div>
            <!-- /.card-header -->
            <ng-container *ngIf="(agentAdmins$ | async)?.length > 0;else noList">                            
                <div class="card-body table-responsive p-0" style="height: 500px;" #agentListTableContainer (scroll)="onScrollingFinished()">
                <table class="table-hover table table-head-fixed" #agentListTable>
                    <thead>
                    <tr>
                        <th class="sortable-field" (click)="sort('ssn', sortBy)">
                            {{'Employee ID' | translate }}
                            <i *ngIf="orderBy !== 'ssn'" class="fa fa-sort"></i>
                            <i id="sortIcon" *ngIf="orderBy === 'ssn'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                            [class.fa-sort-up]="sortBy === 'asc'">
                            </i>
                        </th>
                        <th class="sortable-field" (click)="sort('firstName', sortBy)">
                            {{'Name' | translate }}
                            <i *ngIf="orderBy !== 'firstName'" class="fa fa-sort"></i>
                            <i id="sortIcon" *ngIf="orderBy === 'firstName'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                            [class.fa-sort-up]="sortBy === 'asc'">
                            </i>
                        </th>
                        <th>
                            {{'Starting' | translate }}
                        </th>
                        <th>
                            {{'Ending' | translate }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let agentAdmin of agentAdmins$ | async">
                            <ng-container *ngIf="listPosition=='left';else rightList">
                                <tr class="agent-list-item pointer" [class.selected]="isSelected[agentAdmin.id]" (click)="toggleSelected(agentAdmin.id); isSelected[agentAdmin.id] = !isSelected[agentAdmin.id];" >
                                    <td>{{agentAdmin.employeeId}}</td>
                                    <td>
                                        <span ngbTooltip="{{agentAdmin.firstName}} {{agentAdmin.lastName}}">
                                            {{agentAdmin.firstName + ' ' + agentAdmin.lastName | truncate: { sliceStart: 0,
                                                sliceEnd: 15, append: '...' }
                                            }}
                                        </span>
                                    </td>
                                    <td>{{(agentAdmin.modifiedDate ? agentAdmin.modifiedDate : agentAdmin.createdDate) | date}}</td>
                                    <td></td>   <!-- END DATE IS EMPTY FOR NOW, FOR ENHANCMENT PURPOSES -->
                                </tr>
                            </ng-container>                        
                            <ng-template #rightList>
                                <tr class="agent-list-item pointer">
                                    <td>{{agentAdmin.employeeId}}</td>
                                    <td>
                                        <span ngbTooltip="{{agentAdmin.firstName}} {{agentAdmin.lastName}}">
                                            {{agentAdmin.firstName + ' ' + agentAdmin.lastName | truncate: { sliceStart: 0,
                                                sliceEnd: 15, append: '...' }
                                            }}
                                        </span>
                                    </td>
                                    <td>{{(agentAdmin.modifiedDate ? agentAdmin.modifiedDate : agentAdmin.createdDate) | date}}</td>
                                    <td></td>   <!-- END DATE IS EMPTY FOR NOW, FOR ENHANCMENT PURPOSES -->
                                </tr>
                            </ng-template>                        
                        </ng-container>                   
                    </tbody>
                </table>
                </div>

                <!-- /.card-body -->
            </ng-container>
            <ng-template #noList>
                <p class="text-center p-2 mt-2">{{'No match records found' | translate }}</p>
            </ng-template>
    </div>
</div>