
  .float-r {
    float: right;
  }
  
  .padding-5 {
    padding: 5px;
  }
  
  .p-r-5 {
    padding-right: 5px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .table thead th {
    color: #666363;
  }
  
  .overflow-auto {
    overflow: auto;
  }

  .list-left li, .list-right li {
    cursor: pointer;
}

.agent-list-item.selected{
    background-color: #007bff;
}

.agent-list-item.selected td{
  color: #ffffff;
}


.agent-list-item{
    background-color: #fff;
}

.agent-list-item td{
  color: #ffffff;
  color: black;
}

.agentAdminsList{
  height: 200px;
}