<div class="row col-md-12 bg-color m-t-6">
  <div class="col-md-8 row">
    <div class="col-md-1 col-sm-1">
      <div class="test">{{ unifiedToNative(iconCode) }}</div>
    </div>
    <div class="col-md-4 col-sm-4">
      <input readonly type="text" disabled [(ngModel)]="iconDescription" class="form-control margin-4 manager">
    </div>
    <div class="col-md-2 col-sm-2">
      <input readonly type="text" disabled [(ngModel)]="currentDate" class="form-control margin-4 manager">
    </div>
    <div class="col-md-2 col-sm-2">
      <input readonly type="text" disabled [(ngModel)]="startTimeFilter" class="form-control margin-4 manager">
    </div>
    <div class="col-md-2 col-sm-2">
      <input readonly type="text" disabled [(ngModel)]="endTimeFilter" class="form-control margin-4 manager">
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2 label-color p-t-10">
    <span>
      <label>{{ 'Total Schedules' | translate }}:</label>
      <b>{{totalSchedulingRecord}}</b>
    </span>
  </div>
</div>
<div class="col-md-12 m-t-20">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <p class="float-left">
        {{ 'Time Interval' | translate }}:
      </p>
      <select class="form-control width-sm" [(ngModel)]="timeIntervals"
        (change)="changeTimeInterval($event.target.value)">
        <ng-container *ngFor="let interval of schedulingIntervals; let i = index">
          <option [value]="interval.id">{{ interval.value }}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-4 col-sm-4">
      <p class="float-left">
        {{ 'Start Time Sorting:' | translate }}
      </p>
      <select class="form-control width-43p m-b-10" (change)="onSortTypeChange($event.target.value)"
        [(ngModel)]="sortTypeValue">
        <option *ngFor="let item of sortingType" [value]="item">{{sortType[item]}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 align" cdkDropList (cdkDropListDropped)="dragged($event)">
      <span>
        <i class="fa fa-angle-double-left arrow-icon" aria-hidden="true" (click)="toBeginning()"
          [ngClass]="(startIcon == 0) ? 'arrow-icon-disabled'  :  'arrow-icon' "></i>
        <i class="fa fa-caret-left arrow-icon" aria-hidden="true" (click)="previous()"
          [ngClass]="(startIcon == 0) ? 'arrow-icon-disabled'  :  'arrow-icon' "></i>
      </span>
      <ng-container
        *ngFor="let code of schedulingCodes | horizontalScroll : startIcon: endIcon: iconCount; let i= index;">
        <i id="{{ code.icon.value }}" class="icon-style icon" [ngClass]="{'icon-active': icon === code.icon.value}"
          (click)="onIconClick($event); t.close()" (mousedown)="t.close()"
          [ngClass]="{ 'icon-active': (selectedIconId == code.icon.value)}" cdkDrag>
          <span ngbTooltip="{{ code.description }}" #t="ngbTooltip">
            {{ unifiedToNative(code.icon.value) }}</span></i>
      </ng-container>
      <span>
        <i class="fa fa-caret-right arrow-icon" aria-hidden="true" (click)="next()"
          [ngClass]="(endIcon == schedulingCodes.length) ? 'arrow-icon-disabled' :  'arrow-icon'"></i>
        <i class="fa fa-angle-double-right arrow-icon" aria-hidden="true" (click)="toEnd()"
          [ngClass]="(endIcon == schedulingCodes.length) ? 'arrow-icon-disabled' :  'arrow-icon'"></i>
      </span>
    </div>
  </div>
</div>
<br>
<div class="row table-responsive" [style.max-width]="getGridMaxWidth()">
  <div class="col-md-12 col-sm-12 scrollable-table">
    <table class="jsgrid-table table" id="schedulingManagerTable">
      <thead>
        <tr class="jsgrid-header-row">
          <th class="sortable-field" (click)="sort('employeeId', sortBy)">
            {{ 'Employee_id' | translate }}
            <i *ngIf="orderBy !== 'employeeId'" class="fa fa-sort"></i>
            <i id="sortIcon" *ngIf="orderBy === 'employeeId'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
              [class.fa-sort-up]="sortBy === 'asc'">
            </i>
          </th>
          <th class="sortable-field" (click)="sort('lastName', sortBy)">
            {{ 'Name' | translate }}
            <i *ngIf="orderBy !== 'lastName'" class="fa fa-sort"></i>
            <i id="sortIcon" *ngIf="orderBy === 'lastName'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
              [class.fa-sort-up]="sortBy === 'asc'">
            </i>
          </th>
          <ng-container *ngFor="let data of openTimes;">
            <ng-container *ngIf="isMainMinute(data); else subMinutes">
              <th [ngClass]="data.split(' ')[1] === 'am' ? 'morning' : 'night'"
                class="jsgrid-header-cell jsgrid-header-sortable user-select-none">
                {{ data.split(':')[0] === '00' ? '12' : data.split(':')[0] }}
              </th>
            </ng-container>
            <ng-template #subMinutes>
              <th [ngClass]="data.split(' ')[1] === 'am' ? 'morning' : 'night'"
                class="jsgrid-header-cell jsgrid-header-sortable user-select-none">
                <sup>{{ data.split(':')[1].split(' ')[0] }}</sup>
              </th>
            </ng-template>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="totalSchedulingGridData?.length === 0" class="valid-record">
          <td colspan="25">
            {{ 'No records found' | translate }}</td>
        </tr>
        <tr class="jsgrid-row user-select-none" *ngFor="let el of totalSchedulingGridData; let i = index"
          [ngClass]="{'selected': isRowSelected(i)}" (click)="setAgent(el.id, i)">
          <td class="jsgrid-cell-emp">{{el.employeeId}}</td>
          <td class="jsgrid-cell-empName">
            <span ngbTooltip="{{ el.lastName + ' ' + el.firstName }}">
              {{el.lastName + ' ' + el.firstName | truncate: { sliceStart: 0, sliceEnd:
              characterSplice, append: '...' } }}
            </span>
          </td>
          <td id="grid_manager_col_{{i+1}}_{{j}}" class="jsgrid-cell" attr.time="{{ openTime.split(' ')[0] }}"
            attr.scheduleId="{{el.id}}" attr.meridiem="{{ openTime.split(':')[1].split(' ')[1] }}"
            *ngFor="let openTime of openTimes;let j = index" (mouseup)="onMouseUp($event)"
            (mouseover)="onMouseOver($event)" (mousedown)="onMouseDown($event,j,i+1)"
            [ngClass]="openTime.split(' ')[1] === 'am' ? 'morning' : ''">
            <ng-container *ngIf="getIconFromSelectedAgent(el.id,openTime)?.length">
              <span ngbTooltip="{{ getAgentIconDescription(el.id,openTime) }}">
                <i class="font-style-normal">{{ getIconFromSelectedAgent(el.id,openTime) }}</i>
              </span>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row padding-10">
  <div class="col-md-12 padding-12 row">
    <div class="col-md-11 m-b-5">
      <button class="btn btn-default copy-button m-l-10" id="btn_copy_schedule" [disabled]="!agentSchedulingGroupId"
        (click)="openCopySchedule(selectedRow)">
        <i class="fa fa-clipboard padding-5 black"></i>{{ 'Copy Schedule' | translate }}
      </button>
    </div>
    <div class="col-md-1 row">
      <button class="btn btn-primary m-l-6 float-r" data-dismiss="modal" id="btn_save" (click)="save()">
        <i class="fa fa-save padding-5"></i>{{ 'Save' | translate }}
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="totalSchedulingGridData?.length">
  <!-- Agent Info -->
  <div class="row">
    <div class="col-12 col-md-12">
      <h3>{{ 'Agent Info' | translate }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 d-flex">
      <p>{{ 'Agent' | translate }}</p>:
      <b><span>{{agentInfo?.employeeId}} {{agentInfo?.firstName}}, {{agentInfo?.lastName}}</span>
      </b>
    </div>
  </div>
  <div class="col-md-12 bg-color">
    <div class="col-md-6  d-flex  row">
      <p *ngIf="openTimeAgentIcon" class="agent-info-lbl col-md-6 col-sm-6">{{unifiedToNative(openTimeAgentIcon?.codeValue)}} Open Time {{openTimeAgentIcon?.startTime}} - {{openTimeAgentIcon?.endTime}}</p>
      <p *ngIf="lunchAgentIcon" class="agent-info-lbl col-md-6 col-sm-6">{{unifiedToNative(lunchAgentIcon?.codeValue)}} Lunch {{lunchAgentIcon?.startTime}} - {{lunchAgentIcon?.endTime}}</p>
    </div>
  </div>
  <div class="col-md-12 mt-2 table-responsive">
    <div class="scrollable-table">
      <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th class="sortable-field">
              {{ 'Schedule Type' | translate }}
            </th>
            <th class="sortable-field">
              {{ 'Supervisor' | translate }}
            </th>
            <th class="sortable-field">
              {{ 'Employee ID' | translate }}
            <th class="sortable-field">
              {{ 'Hire_date' | translate }}
            <th class="sortable-field">
              {{ 'Production Date' | translate }}
            </th>
            <th class="sortable-field">
              {{ 'Term Date' | translate }}
            </th>
            <th class="sortable-field">
              {{ 'LOA Date' | translate }}
            </th>

            <th class="sortable-field">
              {{ 'Primary CT/Skill' | translate }}
            </th>
            <th class="sortable-field">
              {{ 'Tour Band' | translate }}
            </th>
            <th class="sortable-field">
              {{ 'Rank' | translate }}
            </th>
            <th class="sortable-field">
              {{ 'Part Time/Full Time' | translate }}
            </th>
            <th class="sortable-field">
              {{ 'Operations Manager' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td>Accomodated</td>
            <td>{{agentInfo?.supervisorName}}</td>
            <td>{{agentInfo?.supervisorId}}</td>
            <td>{{getAgentHireDate()}}</td>
            <td>2020-12-14</td>
            <td></td>
            <td></td>
            <td>DotCom</td>
            <td>Band 1</td>
            <td>38</td>
            <td>FT</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>