.header-title {
  span {
    margin-right: 5px;
    background: white;
    border: solid 1px #d2d2d2;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
  }

  h5 {
    padding-top: 3px;
  }
}

.float-r {
  float: right;
}

.padding-5 {
  padding: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.breadcrumb-item.active {
  color: inherit;
}

.breadcrumb {
  background-color: inherit;
}

.pointer {
  cursor: pointer;
}

.overflow-auto {
  overflow: auto;
}

.p-b-5 {
  padding-bottom: 5px;
}