<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2>{{ 'Client_lob_group' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>{{ 'Setup_menu' | translate }}</a></li>
        <li class="breadcrumb-item active"><b>{{ 'Client_lob_group_list' | translate }}</b> </li>
      </ol>
    </div>
  </div>
  <div class="row m-l-r-10">
    <div class="col-md-3">
      {{ 'Client_name' | translate }}
      <app-client-name-typeahead (clientSelected)="setClient($event)"></app-client-name-typeahead>
    </div>
    <div class="col-md-3 padding-bottom-5">
      <input type="text" class="form-control  mt-4" [(ngModel)]="searchKeyword"
        placeholder="{{ 'Enter_a_client_lob_group_name' | translate }}" />
      <ng-container *ngIf="searchKeyword?.length">
        <!-- <i id="input_close_btn" class="fa fa-times-circle cursor-pointer closable-icon" type="button"
          (click)="clearSearchKeyword()"></i> -->
      </ng-container>
    </div>
    <div class="col-md-2">
      <button class="form-control mt-4" (click)="searchClientLOBGroups()" id="btn_search"><i class="fa fa-search"
          aria-hidden="true"></i>
        {{ 'Search' | translate }}
      </button>
    </div>
    <div *permission="{rolesPermitted: [1,2]}" class="col-md-4 text-right">
      <button type="button" class="btn btn-primary float-r mt-4" (click)="addClientLOBGroup()" id="btn_add"><i
          class="fa fa-plus padding-5" aria-hidden="true"></i>{{ 'Add' | translate }}</button>
    </div>
  </div>

  <div class="row m-r-15">
    <div class="col-md-12 mt-2 table-responsive">
      <div class="scrollable-table">
        <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
          <thead>
            <tr>
              <th *permission="{rolesPermitted: [1,2]}">
                {{ 'Action' | translate }}</th>

              <!--<th class="sortable-field" (click)="sort('Id', sortBy)">
                {{ 'ID' | translate }}
                <i *ngIf="orderBy !== 'Id'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'Id'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>-->
              <th class="sortable-field" (click)="sort('RefId', sortBy)">
                {{ 'ID' | translate }}
                <!--{{ 'Reference_id' | translate }}-->
                <i *ngIf="orderBy !== 'RefId'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'RefId'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('Name', sortBy)">
                {{ 'LOB_group_name' | translate }}
                <i *ngIf="orderBy !== 'Name'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'Name'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('FirstDayOfWeek', sortBy)">
                {{ 'First_day_of_week' | translate }}
                <i *ngIf="orderBy !== 'FirstDayOfWeek'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'FirstDayOfWeek'" class="fa"
                  [class.fa-sort-down]="sortBy === 'desc'" [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('Timezone.Name', sortBy)">
                {{ 'Timezone for reporting' | translate }}
                <i *ngIf="orderBy !== 'Timezone.Name'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'Timezone.Name'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('CreatedBy', sortBy)">
                {{ 'Created_by' | translate }}
                <i *ngIf="orderBy !== 'CreatedBy'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'CreatedBy'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('CreatedDate', sortBy)">
                {{ 'Created_date' | translate }}
                <i *ngIf="orderBy !== 'CreatedDate'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'CreatedDate'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('ModifiedBy', sortBy)">
                {{ 'Modified_by' | translate }}
                <i *ngIf="orderBy !== 'ModifiedBy'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'ModifiedBy'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('ModifiedDate', sortBy)">
                {{ 'Modified_date' | translate }}
                <i *ngIf="orderBy !== 'ModifiedDate'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'ModifiedDate'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
            </tr>
          </thead>
          <tbody>
            <ngx-spinner [name]="spinner" bdColor="rgba(255, 0, 0, 0.8)"></ngx-spinner>
            <tr *ngIf="clientLOBGroupDetails?.length === 0" class="valid-record">
              <td colspan="12">
                {{ 'No records found' | translate }}</td>
            </tr>
            <tr *ngFor="let el of clientLOBGroupDetails; let i = index">
              <td *permission="{rolesPermitted: [1,2]}"><i class="fa fa-edit padding-5 pointer"
                  (click)="editClientLOBGroup(el)"></i>
                <i class="fa fa-trash padding-5 pointer" (click)="deleteClientLOBGroup(el.id)"></i>
              </td>
              <!--<td>{{el.id}}</td>-->
              <td>{{el.refId}}</td>
              <td>
                <div class="d-flex justify-content-between"
                  [class.display-inline-flex]="el.name.length > characterSplice">
                  <span ngbTooltip="{{ el.name }}">{{ el.name | truncate: { sliceStart: 0, sliceEnd: characterSplice,
                    append: '...' } }}</span>
                  <span class="padding-left-10 float-right">
                    <a type="button" [ngbPopover]="popContent" [popoverTitle]="popTitle" [placement]="'auto'"
                      container="body">
                      <i class="fa fa-ellipsis-h"></i>
                    </a>
                    <ng-template #popContent>
                      <b>{{ 'Client_name' | translate }} : </b> {{ el.clientName }}
                    </ng-template>
                    <ng-template #popTitle>
                      {{ 'Hierarchy' | translate}}
                    </ng-template>
                  </span>
                </div>
              </td>
              <td>{{weekDay[el.firstDayOfWeek]}}</td>
              <td>{{el.timezoneLabel}}</td>
              <td>{{el.createdBy}}</td>
              <td>{{el.createdDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{el.modifiedBy}}</td>
              <td>{{el.modifiedDate | date: 'yyyy-MM-dd'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination p-0 float-right">
          <ngb-pagination class="p-r-5" [collectionSize]="totalClientLOBGroupRecord" (pageChange)="changePage($event)"
            [pageSize]="pageSize" [(page)]="currentPage" [boundaryLinks]="true"></ngb-pagination>
          <select class="form-control" (change)="changePageSize($event.target.value)">
            <option [selected]="x.count === pageSize" [value]="x.count" *ngFor="let x of paginationSize">
              {{x.text | translate}}
            </option>
          </select>
        </ul>
      </nav>
    </div>
  </div>
</div>