<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2>{{ 'Permissions' | translate }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>{{ 'System_admin' | translate }}</a></li>
        <li class="breadcrumb-item active"><b>{{ 'Permissions_list' | translate }}</b> </li>
      </ol>
    </div>
  </div>

  <app-add-update-permission [employeeId]="employeeId"
    (employeeSelected)="onEmployeeSelected($event)" (permissionCleared)="onPermissionCleared()"
    (permissionUpdated)="onPermissionUpdated()" (permissionAdded)="onPermissionAdded()">
  </app-add-update-permission>

  <div class="row m-l-r-10">
    <div class="col-md-3 p-b-5">
      <input type="text" class="form-control" [(ngModel)]="searchKeyword"
        placeholder="{{ 'Search_employee' | translate }}" />
    </div>
    <div class="col-md-2">
      <button class="form-control" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i>
        {{ 'Search' | translate }}
      </button>
    </div>
    <div class="col-md-7 text-right">
      <button type="button" class="btn btn-default float-r btn-grid">
        <i class="fa fa-th"></i>
        <i class="fa fa-sort-down padding-5" [ngbPopover]="popContent" [popoverTitle]="popTitle" [placement]="'left'"
          container="body" [autoClose]="'outside'"></i>
        <ng-template #popContent>
          <div class="form-group clearfix margin-b-05-rem" *ngFor="let role of this.hiddenRoles; let i = index">
            <div class="icheck-primary d-inline">
              <input type="checkbox" id="{{ role.id }}" [value]="role.role" [checked]="hasHideRoleSelected(role.role)"
                (change)="onCheckRolesToHide($event)">
              <label for="{{ role.id }}">
                {{ role.role | translate }}
              </label>
            </div>
          </div>
        </ng-template>
        <ng-template #popTitle>
          {{ 'Select_columns_to_hide' | translate }}
        </ng-template>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2 table-responsive">
      <div class="scrollable-table">
        <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
          <thead>
            <tr>
              <th class="sortable-field" [appSort]="permissions" data-order="asc" data-name="employeeId">
                {{ 'Employee_id' | translate }}
                <i class="fa fa-sort"></i>
              </th>
              <th class="sortable-field" [appSort]="permissions" data-order="asc" data-name="firstName">
                {{ 'First_name' | translate }}
                <i class="fa fa-sort"></i>
              </th>
              <th class="sortable-field" [appSort]="permissions" data-order="asc" data-name="lastName">
                {{ 'Last_name' | translate }}
                <i class="fa fa-sort"></i>
              </th>
              <th *ngIf="hasRoleHidden('System Admin')" class="sortable-field" [appSort]="permissions"
                data-order="asc" data-name="roles" data-type="array">
                {{ 'System_admin' | translate }}
                <i class="fa fa-sort"></i>
              </th>
              <th *ngIf="hasRoleHidden('WFM Admin')" class="sortable-field" [appSort]="permissions"
                data-order="asc" data-name="roles" data-type="array">
                {{ 'WFM_admin' | translate }}
                <i class="fa fa-sort"></i>
              </th>
              <th *ngIf="hasRoleHidden('WFM Scheduling Team')" class="sortable-field" [appSort]="permissions"
                data-order="asc" data-name="roles" data-type="array">
                {{ 'WFM_scheduling_team' | translate }}
                <i class="fa fa-sort"></i>
              </th>
              <th *ngIf="hasRoleHidden('Delivery Team')" class="sortable-field" [appSort]="permissions"
                data-order="asc" data-name="roles" data-type="array">
                {{ 'Delivery_team' | translate }}
                <i class="fa fa-sort"></i>
              </th>
              <th *ngIf="hasRoleHidden('Active')" class="sortable-field" [appSort]="permissions"
                data-order="asc" data-name="roles" data-type="array">
                {{ 'Active' | translate }}
                <i class="fa fa-sort"></i>
              </th>
              <th class="sortable-field" [appSort]="permissions" data-order="asc" data-name="createdBy">
                {{ 'Created_by' | translate }}
                <i class="fa fa-sort"></i></th>
              <th class="sortable-field" [appSort]="permissions" data-order="asc" data-name="createdDate">
                {{ 'Created_date' | translate }}
                <i class="fa fa-sort"></i></th>
              <th class="sortable-field" [appSort]="permissions" data-order="asc" data-name="modifiedBy">
                {{ 'Modified_by' | translate }}
                <i class="fa fa-sort"></i></th>
              <th class="sortable-field" [appSort]="permissions" data-order="asc" data-name="modifiedDate">
                {{ 'Modified_date' | translate }}
                <i class="fa fa-sort"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let el of permissions| slice: (currentPage-1) * pageSize : (currentPage-1) * pageSize + pageSize; let i = index;"
              (click)="setSelectedEmployee(el.employeeId, i)" class="cursor-pointer"
              [ngClass]="{'selected': isRowSelected(i)}">
              <td>{{el.employeeId}}</td>
              <td>{{el.firstName}}</td>
              <td>{{el.lastName}}</td>
              <td *ngIf="hasRoleHidden('System Admin')">{{checkPermission(el,1)}}</td>
              <td *ngIf="hasRoleHidden('WFM Admin')">{{checkPermission(el,2)}}</td>
              <td *ngIf="hasRoleHidden('WFM Scheduling Team')">{{checkPermission(el,3)}}</td>
              <td *ngIf="hasRoleHidden('Delivery Team')">{{checkPermission(el,4)}}</td>
              <td *ngIf="hasRoleHidden('Active')">{{checkPermission(el,5)}}</td>
              <td>{{el.createdBy}}</td>
              <td>{{el.createdDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{el.modifiedBy}}</td>
              <td>{{el.modifiedDate | date: 'yyyy-MM-dd'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination p-0 float-right">
          <ngb-pagination class="p-r-5" [collectionSize]="totalRecord" (pageChange)="changePage($event)"
            [pageSize]="pageSize" [(page)]="currentPage" [boundaryLinks]="true"></ngb-pagination>
          <select class="form-control" (change)="changePageSize($event.target.value)">
            <option [selected]="x.count === pageSize" [value]="x.count" *ngFor="let x of paginationSize">
              {{ x.text | translate }}
            </option>
          </select>
        </ul>
      </nav>
    </div>
  </div>
</div>