tr.row-details {
  background-color: white !important;
}

.open-hours tr {
  background-color: white !important;
}

.open-hours tr th,
.open-hours tr td {
  padding: .5em;
  font-size: 15px;
}

.open-hours-title {
  font-size: 18px;
}

.expand-icon {
  color: #007bff;
}

.search-option-title {
  font-weight: 500;
}

.breadcrumb-item.active {
  color: inherit;
  font-weight: bold;
}

.breadcrumb {
  background-color: inherit;
}