<div class="modal-dialog w-1000 add-edit-modal" role="document">
  <div class="modal-content">
    <ngx-spinner [name]="spinner"></ngx-spinner>
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <p>{{getTitle()}} {{ 'Translation' | translation: 'lbl_add_edit_page_title' : translationValues }}</p>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <form [formGroup]="translationForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Language' | translation: 'lbl_add_edit_language' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('languageId')}"
                formControlName="languageId">
                <option value="">{{ 'Select' | translation: 'drp_default_Select' : translationValues }}</option>
                <option *ngFor="let x of languages" [value]="x.id">{{x.value}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('languageId')" class="valid-error">
                {{ 'Language is required' | translation: 'lbl_add_edit_language_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Menu' | translation: 'lbl_add_edit_menu' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control" (change)="setMenuId($event.target.value)"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('menuId')}" formControlName="menuId">
                <option value="">{{ 'Select' | translation: 'drp_default_Select' : translationValues }}</option>
                <option *ngFor="let x of menus" [value]="x.id">{{x.value}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('menuId')" class="valid-error">
                {{ 'Menu is required' | translation: 'lbl_add_edit_menu_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Variable' | translation: 'lbl_add_edit_variable' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('variableId')}"
                formControlName="variableId" (change)="setVariableDescription($event.target.value)">
                <option value="">{{ 'Select' | translation: 'drp_default_Select' : translationValues }}</option>
                <option *ngFor="let x of variables" [value]="x.id">{{x.value}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('variableId')" class="valid-error">
                {{ 'Variable is required' | translation: 'lbl_add_edit_variable_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Description' | translation: 'lbl_add_edit_description' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" readonly formControlName="description" [maxLength]="maxLength">
              <ng-container *ngIf="formSubmitted && form.description.invalid">
                <ng-container *ngIf="hasFormControlValidationError('description'); else maxLengthError">
                  <div *ngIf="hasFormControlValidationError('description')" class="valid-error">
                    {{ 'Description is required' | translation: 'lbl_add_edit_description_required_validation_message' : translationValues }}
                  </div>
                </ng-container>
                <ng-template #maxLengthError>
                  <div class="valid-error">
                    {{ 'Description cannot exceed 50 characters' | translation: 'lbl_add_edit_description_maxlength_validation_message' : translationValues }}
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Translation' | translation: 'lbl_add_edit_translations' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="translation" [maxLength]="maxLength">
              <ng-container *ngIf="formSubmitted && form.translation.invalid">
                <ng-container *ngIf="hasFormControlValidationError('translation'); else maxLengthError">
                  <div *ngIf="hasFormControlValidationError('translation')" class="valid-error">
                    {{ 'Translation is required' | translation: 'lbl_add_edit_translation_required_validation_message' : translationValues }}
                  </div>
                </ng-container>
                <ng-template #maxLengthError>
                  <div class="valid-error">
                    {{ 'Translation cannot exceed 50 characters' | translation: 'lbl_add_edit_translation_maxlength_validation_message' : translationValues }}
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="saveTranslation()" id="btn_save">
              <i class="fa fa-save padding-5"></i>{{ 'Save' | translation: 'btn_save' : translationValues }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>