.dropdown-item.active, .dropdown-item:active {
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: #007bff !important;
}

.long-sidebar-menu{
    margin-left: 400px !important;
  }