<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-md-6">
            <h2 id="page_title">{{'Move Agents' | translate }}</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a>{{'Scheduling_menu' | translate }}</a></li>
                <li class="breadcrumb-item active"><b>{{'Move Agents' | translate }}</b> </li>
            </ol>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <button *ngIf="(selectedAgentAdminIds$ | async)?.length > 0 && (selectedAgentSchedulingGroupIdRight$ | async) > 0" (click)="confirmMoveAgents()" class="btn btn-primary m-l-6 mb-2">
                    <i class="fa fa-arrow-right padding-5"></i>{{'Move' | translate }}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="dual-list list-left col-md-6">
                <!-- <ngx-spinner [name]="agentListSpinnerLeft"></ngx-spinner> -->
               <app-move-agents-list [spinner]="agentListSpinnerLeft" [listPosition]="leftList"></app-move-agents-list> 
            </div>
            <div class="dual-list list-right col-md-6">
                <!-- <ngx-spinner [name]="agentListSpinnerRight"></ngx-spinner> -->
                <app-move-agents-list [spinner]="agentListSpinnerRight" [listPosition]="rightList"></app-move-agents-list> 
             </div>
        </div>
    </div>

    <br>
    <br>

</div>