<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2>{{ 'My Schedule' | translate }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-widget mt-2">
        <div class="card-header">
          Schedule Viewer
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" (activeIdChange)="loadTabContent()" class="nav-tabs myscheduleNavTabs">
            <li [ngbNavItem]="1" [destroyOnHide]="true">
              <a ngbNavLink class="text-sm text-uppercase mb-4">Daily</a>
              <ng-template ngbNavContent>
                <div class="container-fluid text-center dateTodayHeader">Today is {{dateToday | date: 'EEEE, MMMM d, y'}}</div>
                <br />
                <div class="card tableDailyScheduleWrapper">
                  <div class="card-header">
                    <h3 class="card-title">My Schedule For Today:</h3>
                    <ng-container *ngFor="let schedule of myScheduleToday">
                      {{schedule.date}}
                    </ng-container>
                    
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <ngx-spinner [name]="todaySpinner"></ngx-spinner>
                    <table class="table table-hover" *ngIf="myScheduleChartsToday; else todayOff">
                      <thead>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let chart of myScheduleChartsToday">
                          <tr>
                            <td>
                              <i class="icon-style">{{ getSchedulingIcon(chart.schedulingCodeId) }} &nbsp; {{ getSchedulingCode(chart.schedulingCodeId) }}</i>
                            </td>
                            <td>{{chart.startTime}} - {{chart.endTime}}</td>
                          </tr>
                        </ng-container>  
                      </tbody>
                    </table>
                    <ng-template #todayOff>
                      <h3 class="mt-2 text-center">OFF</h3>
                    </ng-template>
                  </div>
                  <!-- /.card-body -->
                </div>

                <div class="d-flex justify-content-start">
                    <button class="btn btn-default" (click)="nav.select(2)">Open the Schedule Viewer</button>
                </div>

                <br/>

                <div class="card tableWeeklyScheduleWrapper">
                  <div class="card-header">
                    <h3 class="card-title">My Schedule For This Week:</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-center">
                      <thead>
                        <tr>
                          <ng-container *ngFor="let dayOfWeek of daysCurrentWeek">
                            <th>{{dayOfWeek.dayName}} &nbsp; {{dayOfWeek.date | date: 'M/d/yy'}}</th>
                          </ng-container>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <ng-container *ngIf="myScheduleWeek !== null; else noWeeklyScheduleToday">
                            <ng-container *ngFor="let schedWeek of myScheduleWeek">
                              <td>      
                                <ng-container *ngIf="schedWeek.firstStartTime !== null && schedWeek.lastEndTime !== null; else dayOff">
                                  {{schedWeek.firstStartTime}}
                                  <br/>
                                  {{schedWeek.lastEndTime}}
                                </ng-container>               
                                <ng-template #dayOff>
                                  OFF
                                </ng-template>                                                                     
                              </td>
                            </ng-container>   
                          </ng-container>
                          <ng-template #noWeeklyScheduleToday>
                            <ng-container *ngFor="let schedWeek of dates">
                              <td>                   
                                  OFF                                                                   
                              </td>
                            </ng-container>   
                          </ng-template>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>

              </ng-template>
            </li>
            <li>
              <a class="separator"></a>
            </li>
            <li [ngbNavItem]="2" [destroyOnHide]="true">
              <a ngbNavLink class="text-sm text-uppercase mb-4">Weekly</a>
              <ng-template ngbNavContent>
                <div class="container-fluid text-center weeklyHeader d-flex justify-content-between">
                  <span class="pointer p-1" (click)="goToPrevWeek(); dp.navigateTo(fromDate);"><i class="fa fa-fw fa-chevron-left"></i></span>
                  {{ daysCurrentWeek[0].date | date: 'MMMM d, y'}} - {{ daysCurrentWeek[6].date | date: 'MMMM d, y'}}
                  <span class="pointer p-1" (click)="goToNextWeek(); dp.navigateTo(fromDate);"><i class="fa fa-fw fa-chevron-right"></i></span>
                </div>
                <br />
                <div class="row">
                  <ngx-spinner [name]="weeklyViewSpinner"></ngx-spinner>
                  <div class="col-lg-10 scrollable-table">
                    <ng-container *ngIf="myScheduleWeek !== null; else noWeeklySchedule">
                      <ng-container *ngFor="let schedWeek of myScheduleWeek; let i = index">                
                        <div class="card-body scrollable-table p-0">
                            <table class="table table-striped text-sm">
                              <thead>
                                <th width="20%">DAY</th>
                                <th width="20%">SCHEDULE</th>
                                <th width="20%">ACTIVITY</th>
                                <th width="20%">START</th>
                                <th width="20%">END</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td width="20%">
                                    {{ daysCurrentWeek[i].dayName }} &nbsp; {{schedWeek.date | date: 'M/d/yy'}}
                                  </td>
                                  <ng-container *ngIf="schedWeek.firstStartTime !== null && schedWeek.lastEndTime !== null; else dayOff">
                                    <td width="20%">
                                        {{schedWeek.firstStartTime}}
                                        -
                                        {{schedWeek.lastEndTime}}
                                    </td>
                                    <td width="20%">
                                        <ng-container *ngFor="let activity of schedWeek.charts">
                                          <p><i class="icon-style">{{ getSchedulingIcon(activity.schedulingCodeId) }} &nbsp; {{ getSchedulingCode(activity.schedulingCodeId) }}</i></p>
                                        </ng-container>
                                    </td>
                                    <td width="20%">
                                      <ng-container *ngFor="let activity of schedWeek.charts">
                                        <p>{{activity.startTime}}</p>
                                      </ng-container>
                                    </td>
                                    <td width="20%">
                                      <ng-container *ngFor="let activity of schedWeek.charts">
                                        <p>{{activity.endTime}}</p>
                                      </ng-container>
                                    </td>
                                  </ng-container>               
                                  <ng-template #dayOff>
                                    <td width="80%" colspan="4" class="text-center">
                                      OFF
                                    </td>
                                  </ng-template>  
                                </tr>      
                              </tbody>
                            </table>
                        </div>
                        <br/>
                        <br/>
                        <hr/>
                        <br/>
                      </ng-container>
                    </ng-container>
                    <ng-template #noWeeklySchedule>
                      <ng-container *ngFor="let schedWeek of dates; let i = index">                
                        <div class="card-body scrollable-table p-0">
                            <table class="table table-striped text-sm">
                              <thead>
                                <th width="20%">DAY</th>
                                <th width="20%">SCHEDULE</th>
                                <th width="20%">ACTIVITY</th>
                                <th width="20%">START</th>
                                <th width="20%">END</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td width="20%">
                                    {{ days[i] }} &nbsp; {{schedWeek | date: 'M/d/yy'}}
                                  </td>             
                                    <td width="80%" colspan="4" class="text-center">
                                      OFF
                                    </td>
                                </tr>      
                              </tbody>
                            </table>
                        </div>
                        <br/>
                        <br/>
                        <hr/>
                        <br/>
                      </ng-container>
                    </ng-template>
                  </div>
                  <div class="col-lg-2">
                    <br/>
                    <div [ngStyle]="{ 'width': '233px'}" class="container-fluid text-center dateTodayHeader p-0">
                      <span [ngStyle]="{'color': '#007bff'}" class="text-bold">Today is</span> <br/> {{dateToday | date: 'EEEE, MMMM d, y'}}
                    </div>
                      <div class="p-0 scrollable-table text-center">
                        <ngb-datepicker #dp [(ngModel)]="calendarModel" [dayTemplate]="t" firstDayOfWeek='0'></ngb-datepicker>
                        <ng-template #t let-date let-focused="focused">
                          <span class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                          </span>
                        </ng-template>
                      </div>
                  </div>
                </div>                
              </ng-template>
            </li>
            <li>
              <a class="separator"></a>
            </li>
            <li [ngbNavItem]="3" [destroyOnHide]="true">
              <a ngbNavLink class="text-sm text-uppercase mb-4">Monthly</a>
              <ng-template ngbNavContent>
                <div class="container-fluid text-center dateTodayHeader">Today is {{dateToday | date: 'EEEE, MMMM d, y'}}</div>
                    <my-schedule-monthly-view (selected)="selected = $event"></my-schedule-monthly-view>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
</div>