<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2>{{ 'My Schedule' | translate }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-widget mt-2">
        <div class="card-header">
          Schedule Viewer
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink class="text-sm text-uppercase mb-4">Daily</a>
              <ng-template ngbNavContent>
                <div class="container-fluid text-center dateTodayHeader">Today is Monday, December 14, 2020</div>
                <br />
                <div class="card tableDailyScheduleWrapper">
                  <div class="card-header">
                    <h3 class="card-title">My Schedule For Today:</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                      <thead>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <i class="icon-style icon">{{ unifiedToNative("1F436") }} &nbsp; Open Time</i>
                          </td>
                          <td>11:00 AM - 12:30 PM</td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-style icon">{{ unifiedToNative("1F963") }} &nbsp; Lunch</i>
                          </td>
                          <td>12:30 PM - 01:30 PM</td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-style icon">{{ unifiedToNative("1F436") }} &nbsp; Open Time</i>
                          </td>
                          <td>11:00 AM - 12:30 PM</td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-style icon">{{ unifiedToNative("1F436") }} &nbsp; Open Time</i>
                          </td>
                          <td>11:00 AM - 12:30 PM</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>

                <div class="card tableWeeklyScheduleWrapper">
                  <div class="card-header">
                    <h3 class="card-title">My Schedule For This Week:</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>
                            Sunday 12/13/20
                          </th>
                          <th>
                            Monday 12/14/20
                          </th>
                          <th>
                            Tuesday 12/15/20
                          </th>
                          <th>
                            Wednesday 12/16/20
                          </th>
                          <th>
                            Thursday 12/17/20
                          </th>
                          <th>
                            Friday 12/18/20
                          </th>
                          <th>
                            Saturday 12/19/20
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                        </tr>
                        <tr>
                          <td>12:30 PM - 01:30 PM</td>
                          <td>12:30 PM - 01:30 PM</td>
                          <td>12:30 PM - 01:30 PM</td>
                          <td>12:30 PM - 01:30 PM</td>
                          <td>12:30 PM - 01:30 PM</td>
                          <td>12:30 PM - 01:30 PM</td>
                          <td>12:30 PM - 01:30 PM</td>
                        </tr>
                        <tr>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                        </tr>
                        <tr>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                          <td>11:00 AM - 12:30 PM</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>

              </ng-template>
            </li>
            <li>
              <a class="separator"></a>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="text-sm text-uppercase mb-4">Weekly</a>
              <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li>
              <a class="separator"></a>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="text-sm text-uppercase mb-4">Monthly</a>
              <ng-template ngbNavContent>

                <div class="card card-primary">
                  <div class="card-body p-0">

                  </div>
                  <!-- /.card-body -->
                </div>

              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer -->
      </div>
    </div>
  </div>
</div>