.nav-tabs {
    border-bottom: 1px solid #fff;
}

.nav-tabs .nav-link {
    color: rgb(114, 112, 112);
}

.ngb-datepicker {
    border-radius: 0 !important;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    border-bottom: 2px solid #007bff;
    font-weight: bold;
}

.nav-tabs .nav-link:hover:not(.active){
    background-color: #fff;
    border-color: #fff;
}

.nav-tabs li .separator {
    border-left: 2px solid #ccc;
    line-height: 40px;
}

.dateTodayHeader, .weeklyHeader{
    border: 1px solid #a4cbf5;
    padding: 8px;
    font-weight: 550;
}

.tableDailyScheduleWrapper .card-header{
    background-color: rgb(243, 240, 240);
}

.tableDailyScheduleWrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.tableWeeklyScheduleWrapper .card-header{
    background-color: rgb(243, 240, 240);
}

.tableWeeklyScheduleWrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.icon:hover {
    background-color: #a8a8ae;
}
  
.icon-style {
    padding: 5px;
    font-style: normal;
}
  
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }


  