<ng-select [items]="clientLobItemsBuffer" [loading]="loading" bindLabel="name" bindValue="id" placeholder="All"
  [typeahead]="typeAheadInput$" (scroll)="onClientLobScroll($event)" (scrollToEnd)="onClientLobScrollToEnd()"
  (change)="onClientLobChange($event)" (clear)="clearSelectedValues()" [(ngModel)]="clientLobId">
  <ng-template ng-header-tmp>
    <small class="form-text text-muted">Loaded {{clientLobItemsBuffer.length}} of
      {{totalItems}}</small>
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-index="index">
    <span container="body" ngbTooltip="{{ item.name }}">
      {{ item.name | truncate: { sliceStart: 0, sliceEnd: characterSplice, append: '...' } }}
    </span>
  </ng-template>
</ng-select>