<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a routerLink="/home" class="brand-link">
        <img src="assets//images/css-icon.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8" />
        <span class="brand-text font-weight-light">Concentrix</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex flex-column">
            <div class="image">
                <img src="assets/images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info user-info">
                <a class="d-block">{{ loggedUser?.displayName }}</a>
                <a class="d-block">{{ 'System_administrator' | translate }}</a>
            </div>
        </div>
        <nav class="mt-2 treeview-menu">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link d-flex flex-row" routerLink="dashboard" routerLinkActive="active">
                        <i class="nav-icon fa fa-home"></i>
                            <span>{{ 'Home' | translate }} </span>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link d-flex flex-row"
                        [ngClass]="{'active': sysAdmin1.isActive || sysAdmin2.isActive || sysAdmin3.isActive}">
                        <i class="nav-icon fa fa-th"></i>
                            <span>{{ 'System_admin' | translate }}</span>
                            <i class="fa fa-angle-right right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="system-admin/scheduling-codes" routerLinkActive="active"
                                #sysAdmin1="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <span>{{ 'Scheduling_codes' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="system-admin/permissions" routerLinkActive="active"
                                #sysAdmin2="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <span>{{ 'Permissions' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="system-admin/agent-categories" routerLinkActive="active"
                                #sysAdmin3="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Agent_categories' | translate }}</span>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="system-admin/transalations" routerLinkActive="active"
                                #sysAdmin4="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                                Translation
                            </a>
                        </li> -->
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link d-flex flex-row"
                        [ngClass]="{'active': setUpMenu1.isActive || setUpMenu2.isActive || setUpMenu3.isActive || setUpMenu4.isActive || setUpMenu5.isActive }">
                        <i class="nav-icon fa fa-cog"></i>
                            <span>{{ 'Setup_menu' | translate }}</span>
                            <i class="fa fa-angle-right right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="setup-menu/client-name" routerLinkActive="active"
                                #setUpMenu1="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Client_name' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="setup-menu/client-lob-group" routerLinkActive="active"
                                #setUpMenu2="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <span>{{ 'Client_lob_group' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="setup-menu/skill-groups" routerLinkActive="active"
                                #setUpMenu3="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Skill_groups' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="setup-menu/skill-tags" routerLinkActive="active"
                                #setUpMenu4="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Skill_tags' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="setup-menu/agent-scheduling-group" routerLinkActive="active"
                                #setUpMenu5="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Agent_scheduling_group' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link d-flex flex-row"
                        [ngClass]="{'active': schMenu1.isActive || schMenu2.isActive || schMenu3.isActive || schMenu4.isActive || schMenu5.isActive || schMenu6.isActive || schMenu7.isActive }">
                        <i class="nav-icon fa fa-calendar"></i>
                        
                        <span>{{ 'Scheduling_menu' | translate }}</span>
                            <i class="fa fa-angle-right right"></i>
                        
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="scheduling-menu/agent-admin" routerLinkActive="active"
                                #schMenu1="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Agent_admin' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="scheduling-menu/scheduling-grid" routerLinkActive="active"
                                #schMenu2="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Scheduling_grid' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="scheduling-menu/scheduling-functions"
                                routerLinkActive="active" #schMenu3="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'All_scheduling_functions' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="scheduling-menu/import-data" routerLinkActive="active"
                                #schMenu4="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Import_data_option' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="scheduling-menu/forecast-screen" routerLinkActive="active"
                                #schMenu5="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Forecast_screen' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="scheduling-menu/adjust-schedule-screen"
                                routerLinkActive="active" #schMenu6="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'Adjust_schedule_screen' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row" routerLink="scheduling-menu/view-o/u-screen" routerLinkActive="active"
                                #schMenu7="routerLinkActive">
                                <i class="fa fa-circle-o nav-icon"></i>
                            <span>{{ 'View_ou_screen' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>