<div class="login-page">
  <div class="login-container row">
    <div class="col-md-6 left-section">
      <img class="logo small-logo" src="assets/images/logo.png" alt="">
      <br>
      <div class="col-md-12 left-section align-items-center justify-content-center logo-margin">
        <h2 class="text-center">Welcome to</h2>
        <img class="logo" src="assets/images/css-logo.png" alt="">
        <button type="button" class="btn" (click)="login()">Login</button>
        <hr>
        <button *ngIf="testingButton == true" type="button" class="btn" (click)="openVerticallyCentered(content)">Login Testing Account</button>
      </div>
    </div>
    <!-- temporary for UAT -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Testing Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="uatLoginForm">
          <label for="typeahead-basic">Username:</label>
          <input id="typeahead-basic" #username type="text"  class="form-control" [(ngModel)]="uatUsername"
            formControlName="uatUsername" />
          
          <hr>
          <label for="typeahead-basic">Password:</label>
          <input id="typeahead-basic" type="password" class="form-control" [(ngModel)]="uatPassword"
            formControlName="uatPassword" />

           <!-- <div class="callout callout-danger mt-3" *ngIf="errorMessage">{{ errorMessage }}</div> -->
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="login_uat_test()">Login</button>
      </div>
    </ng-template>
    <!-- temporary for UAT -->
    <div class="col-md-6 px-0">
      <ngb-carousel [showNavigationArrows]="false">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="bg-item" style="background: url('assets/images/slider-image1.png');"></div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="bg-item" style="background: url('assets/images/slider-image2.png');"></div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="bg-item" style="background: url('assets/images/slider-image3.png');"></div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>

<ngx-spinner [name]="spinner" bdOpacity=0.9 bdColor="#343a40" size="large" color="#ffffff" type="square-loader" [fullScreen]="true">
  <p style="color: white">Redirecting. Please wait.</p>
</ngx-spinner>