<div class="card row">
    <form [formGroup]="permissionForm">
        <div class=" card-header">
            <button class="btn btn-primary float-right" (click)="savePermission()">
                <i class="fa fa-user-circle padding-5"></i>
                {{ getButtonTitle() | translate }}
                {{ 'User' | translate }}</button>
        </div>
        <div class="card-body row">
            <div class="col-md-4 col-sm-4 margin-b-05-rem">
                <label
                    class="text-color">{{ 'Select_an_employee' | translate }}</label>
                <app-employee-typeahead [employeeId]="employeeId" [translationValues]="translationValues"
                    (employeeSelected)="onEmployeeSelected($event)" (employeeCleared)="onEmployeeCleared()">
                </app-employee-typeahead>
            </div>
            <div class="col-md-3 col-sm-3 margin-l-20px">
                <div class="form-group clearfix margin-b-05-rem"
                    *ngFor="let data of userRoles | slice: 0:3; let i = index">
                    <div class="icheck-primary d-inline">
                        <input type="checkbox" id="{{ data.id }}" [value]="data.id"
                            [checked]="hasValueSelected(data.id)" (change)="onCheckboxChange($event)">
                        <label for="{{ data.id }}">{{ data.role | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 margin-l-20px">
                <div class="form-group clearfix margin-b-05-rem"
                    *ngFor="let data of userRoles | slice: 3: 5; let i = index">
                    <div class="icheck-primary d-inline">
                        <input type="checkbox" id="{{ data.id }}" [value]="data.id"
                            [checked]="hasValueSelected(data.id)" (change)="onCheckboxChange($event)">
                        <label for="{{ data.id }}">
                            {{ data.role | translate }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>