<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12">
            <h2 id="page_title">{{ 'Agent Admin' | translation: 'lbl_page_title' : translationValues }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a>Scheduling Menu</a></li>
                <li class="breadcrumb-item active"><b>Agent Admin List</b> </li>
            </ol>
        </div>
    </div>
    <div class="row m-l-r-10">
        <div class="col-md-3 d-flex flex-column">
            {{ 'Client Scheduling Group' | translation: 'lbl_client_scheduling_group' : translationValues }}
            <select class="form-control">
                <option value="">{{ 'All' | translation: 'drp_list_all' : translationValues }}</option>
            </select>
        </div>
        <div class="col-md-3 d-flex flex-column padding-t-24">
            <select class="form-control">
                <option value="">{{ 'Enter Employee' | translation: 'drp_list_employee' : translationValues }}
                </option>
            </select>
        </div>
        <div class="col-md-2 col-sm-6">
            <button class="form-control mt-4" id="btn_search"><i class="fa fa-search" aria-hidden="true"></i>
                {{ 'Search' | translation: 'btn_search' : translationValues }}
            </button>
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-primary float-r mt-4" id="btn_add" (click)="openModal()"><i
                    class="fa fa-plus pr-1"
                    aria-hidden="true"></i>{{ 'Add' | translation: 'btn_add' : translationValues }}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-2 table-responsive">
            <div class="scrollable-table">
                <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
                    <thead>
                        <tr>
                            <th>
                                {{ 'Action' | translation: 'lbl_table_heading_action' : translationValues }}</th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="employeeId">
                                {{ 'Employee ID' | translation: 'lbl_table_heading_employee_id' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="sso">
                                {{ 'SSO' | translation: 'lbl_table_heading_sso' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="client">
                                {{ 'Client Name' | translation: 'lbl_table_heading_agent_client_name' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="clientLOBGroup">
                                {{ 'LOB Group Name' | translation: 'lbl_add_edit_lob_group_name' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="skillGroup">
                                {{ 'Skill Group Name' | translation: 'lbl_add_edit_skill_group_name' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="skillTag">
                                {{ 'Skill Tag Name' | translation: 'lbl_add_edit_skill_tag_name' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="firstName">
                                {{ 'First Name' | translation: 'lbl_table_heading_first_name' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="lastName">
                                {{ 'Last Name' | translation: 'lbl_table_heading_last_name' : translationValues }}
                                <i class="fa fa-sort"></i>
                            </th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="hireDate" data-type="date">
                                {{ 'Hire Date' | translation: 'lbl_table_heading_hire_date' : translationValues }}
                                <i class="fa fa-sort"></i>
                            </th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="createdBy">
                                {{ 'Created By' | translation: 'lbl_table_heading_created_by' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="createdDate" data-type="date">
                                {{ 'Created Date' | translation: 'lbl_table_heading_created_date' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="modifiedBy">
                                {{ 'Modified By' | translation: 'lbl_table_heading_modified_by' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                            <th class="sortable-field" [appSort]="totalAgents" data-order="asc"
                                data-name="modifiedDate" data-type="date">
                                {{ 'Modified Date' | translation: 'lbl_table_heading_modified_date' : translationValues }}
                                <i class="fa fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let el of totalAgents  | slice: (currentPage-1) * pageSize : (currentPage-1) * pageSize + pageSize; let i = index">
                            <td><i class="fa fa-edit padding-5 pointer" (click)="edit(el)"></i>
                                <i class="fa fa-trash padding-5 pointer" (click)="delete(el.employeeId)"></i>
                            </td>
                            <td>{{el.employeeId}}</td>
                            <td>{{el.sso}}</td>
                            <td>{{el.client}}</td>
                            <td>{{el.clientLOBGroup}}</td>
                            <td>{{el.skillGroup}}</td>
                            <td>{{el.skillTag}}</td>
                            <td>{{el.firstName}}</td>
                            <td>{{el.lastName}}</td>
                            <td>{{el.hireDate}}</td>
                            <td>{{el.createdBy}}</td>
                            <td>{{el.createdDate | date: 'yyyy-MM-dd'}}</td>
                            <td>{{el.modifiedBy}}</td>
                            <td>{{el.modifiedDate | date: 'yyyy-MM-dd'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination p-0 float-right">
                    <ngb-pagination class="p-r-5" [collectionSize]="totalAgentRecord" (pageChange)="changePage($event)"
                        [pageSize]="pageSize" [(page)]="currentPage" [boundaryLinks]="true"></ngb-pagination>
                    <select class="form-control" (change)="changePageSize($event.target.value)">
                        <option [selected]="x.count === pageSize" [value]="x.count" *ngFor="let x of paginationSize">
                            {{ x.text }}
                        </option>
                    </select>
                </ul>
            </nav>
        </div>
    </div>
</div>