table,
th,
td {
  border-collapse: collapse;
}

td {
  border-top: none;
  border-bottom: none;
}

.scrollable-table {
  max-height: calc(30vh);
}

.label {
  font-weight: 100;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}

input {
  border: none;
}

.m-r-20 {
  margin-right: 20px !important;
}