<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2 id="page_title">{{ 'Scheduling_grid' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>{{ 'Scheduling_menu' | translate }}</a></li>
        <li class="breadcrumb-item active"><b>{{ 'Scheduling_grid_list' | translate }}</b> </li>
      </ol>
    </div>
  </div>

  <app-scheduling-filter [agentScheduleType]="0" (startDateSelected)="onSelectStartDate($event)"
    (keywordToSearch)="search($event)" (agentSchedulingGroupSelected)="onSchedulingGroupChange($event)">
  </app-scheduling-filter>

  <div class="card card-primary card-outline card-outline-tabs mt-3 ">
    <div class="card-header p-0 border-bottom-0">
      <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
        <li class="pull-right marign-l-auto margin-5">
          <button class="btn btn-success mr-2 btn-sm" (click)="openBatchRelease(batchRelease)">Batch Release</button>
          <!-- <img src="assets/images/Export.jpg" class="icon-image float-right padding-2" [ngbTooltip]="'Export'"
            (click)="exportToExcel()">
          <img src="assets/images/Import.jpg" [ngClass]="{'disable-img': !agentSchedulingGroupId}"
            class="icon-image float-right padding-2" [ngbTooltip]="'Import'" (click)="openImportSchedule()"> -->
          <button [ngbTooltip]="'Import csv'" *ngIf="agentSchedulingGroupId" (click)="openImportSchedule()"
            class="btn btn-primary d btn-sm  mr-2"><i class="fa fa-upload"></i></button>
          <button [ngbTooltip]="'Export csv'" *ngIf="agentSchedulingGroupId" (click)="exportToExcel()"
            class="btn btn-primary d  mr-2 btn-sm"><i class="fa fa-download"></i></button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 mt-2">
      <div class="">
        <table (contextmenu)="disableRightClick($event)" id="tableSortExample " class="table table-bordered table-striped" style="table-layout: fixed;">
          <thead>
            <tr>
              <th style="width: 5%;"></th>
              <th class="sortable-field emp_id_head" (click)="sort('employeeId', sortBy)">
                {{ 'Employee_id' | translate }}
                <i *ngIf="orderBy !== 'employeeId'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'employeeId'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th style="" class="sortable-field name_head" (click)="sort('lastName', sortBy)">
                {{ 'Name' | translate }}
                <i *ngIf="orderBy !== 'lastName'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'lastName'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th style="" class="sortable-field date_range_head" (click)="sort('dateFrom', sortBy)">
                {{ 'Date_range' | translate }}
                <i *ngIf="orderBy !== 'dateFrom'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'dateFrom'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th style="" class="sortable-field status_head" (click)="sort('status', sortBy)">
                {{ 'Status' | translate }}
                <i *ngIf="orderBy !== 'status'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'status'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <!-- <th class="sortable-field" (click)="sort('createdBy', sortBy)">
              {{ 'Created_by' | translate }}
              <i *ngIf="orderBy !== 'createdBy'" class="fa fa-sort"></i>
              <i id="sortIcon" *ngIf="orderBy === 'createdBy'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                [class.fa-sort-up]="sortBy === 'asc'">
              </i>
            </th>
            <th class="sortable-field" (click)="sort('createdDate', sortBy)">
              {{ 'Created_date' | translate }}
              <i *ngIf="orderBy !== 'createdDate'" class="fa fa-sort"></i>
              <i id="sortIcon" *ngIf="orderBy === 'createdDate'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                [class.fa-sort-up]="sortBy === 'asc'">
              </i>
            </th> -->
              <th style="width:15.83333333333333%" class="sortable-field" (click)="sort('modifiedBy', sortBy)">
                {{ 'Modified_by' | translate }}
                <i *ngIf="orderBy !== 'modifiedBy'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'modifiedBy'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field modified_head" (click)="sort('modifiedDate', sortBy)">
                {{ 'Modified_date' | translate }}
                <i *ngIf="orderBy !== 'modifiedDate'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'modifiedDate'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
            </tr>
          </thead>
          <tbody>
            <ngx-spinner [name]="spinner"></ngx-spinner>
            <tr *ngIf="totalSchedulingGridData?.length === 0" class="valid-record">
              <td colspan="12">
                {{ 'No match records found' | translate }}</td>
            </tr>
            <ng-container *ngFor="let el of totalSchedulingGridData; let i = index">
              <tr class="table-row">
                <td class="text-center">
                  <i *ngIf="el.ranges.length > 0" class="expand-icon fa padding-5 pointer"
                    [ngClass]="( selectedGrid?.employeeId === el?.employeeId ) ? 'fa-minus' : 'fa-plus'"
                    (click)="toggleDetails(el)"></i>
                </td>
                <td>{{el.employeeId}}</td>
                <td>
                  <span ngbTooltip="{{ el.lastName + ' ' + el.firstName }}">
                    {{el.lastName + ' ' + el.firstName | truncate: { sliceStart: 0, sliceEnd:
                    characterSplice, append: '...' } }}
                  </span>
                </td>
                <td class="d-flex">
                  <div class="btn-group" dropdown [placement]="'top'" container="body"
                    [isDisabled]="el.ranges.length === 0">
                    <button id="button-custom-html" dropdownToggle type="button"
                      class="btn btn-defaulty dropdown-toggle" aria-controls="dropdown-custom-html">
                      {{ getSelectedRange(el) }} <span class="caret"></span>
                    </button>

                    <div class="dropdown">
                      <div *dropdownMenu class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item cursor-pointer" *ngFor="let range of el.ranges; let i = index;" (click)="onDateRangeChange(i, el)">
                          <ng-container [ngSwitch]="range.status">
                            <ng-container *ngSwitchCase="1">
                              <span class="badge badge-pill badge-warning">Pending</span>
                            </ng-container>
                            <ng-container *ngSwitchCase="2">
                              <span class="badge badge-pill badge-success">Released</span>
                            </ng-container>
                          </ng-container>
                          <span class="padding-left-15">
                            <span>{{range.dateFrom | date: 'yyyy-MM-dd'}}</span>
                            <span *ngIf="range.dateTo"> - </span>
                            <span>{{ range.dateTo | date: 'yyyy-MM-dd'}}</span>
                          </span>
                        </a>
                      </div>
                    </div>
                    <!-- <ul id="dropdown-custom-html" *dropdownMenu class="rangeDropDown dropdown-menu" role="menu"
                      aria-labelledby="button-custom-html">
                      <li *ngFor="let range of el.ranges; let i = index;" role="menuitem">
                        <a class="custom-dropdown dropdown-item cursor-pointer" (click)="onDateRangeChange(i, el)">
                          <ng-container [ngSwitch]="range.status">
                            <ng-container *ngSwitchCase="1">
                              <span class="badge badge-pill badge-warning">Pending</span>
                            </ng-container>
                            <ng-container *ngSwitchCase="2">
                              <span class="badge badge-pill badge-success">Released</span>
                            </ng-container>
                          </ng-container>
                          <span class="padding-left-15">
                            <span>{{range.dateFrom | date: 'yyyy-MM-dd'}}</span>
                            <span *ngIf="range.dateTo"> - </span>
                            <span>{{ range.dateTo | date: 'yyyy-MM-dd'}}</span>
                          </span>
                        </a>
                      </li>
                    </ul> -->
                    <span>
                      <!-- <i class="fa fa-edit padding-5 pointer m-t-5" *ngIf="el?.ranges[getRangeIndex(el)]?.status === 1"
                        (click)="editDateRange(el)" [ngbTooltip]="'Edit'"></i> -->
                      <i class="fa fa-trash padding-5 pointer m-t-5" *ngIf="el?.ranges[getRangeIndex(el)]?.status === 1"
                        (click)="deleteDateRange(el)" [ngbTooltip]="'Delete'"></i>
                      <i class="fa fa-calendar-plus-o float-right padding-5 m-t-5" aria-hidden="true"
                        (click)="addDateRange(el)" [ngbTooltip]="'Add'"></i>
                    </span>
                  </div>
                </td>
                <td>
                  <select class="form-control status_drpDown form-control-sm" (change)="setSchedulingStatus($event, el)"
                    [disabled]="hasStatusDisabled(el)">
                    <option *ngIf="!el?.ranges[getRangeIndex(el)]?.status">{{ 'Please select a status' | translate }}
                    </option>
                    <option [value]="status" [selected]="getSchedulingStatus(el, status) === +status"
                      *ngFor="let status of schedulingStatus">
                      {{ scheduleStatus[status] }}
                    </option>
                  </select>
                </td>
                <td>{{el?.ranges[getRangeIndex(el)]?.modifiedBy}}</td>
                <td>{{el?.ranges[getRangeIndex(el)]?.modifiedDate | date: 'yyyy-MM-dd'}}</td>
              </tr>
              <ng-container *ngIf="el.ranges.length > 0">
                <tr class="row-details" *ngIf="selectedGrid?.employeeId === el?.employeeId"
                  [@enterAnimation]="selectedGrid?.employeeId === el?.employeeId">
                  <td colspan="12">
                    <div class="jsgrid-grid-body">
                      <div class="row">
                        <div class="col-md-5 col-sm-5 row">
                          <p class="float-left">
                            {{ 'Time Interval' | translate }}:
                          </p>
                          <select class="form-control width-sm input-sm" [(ngModel)]="timeIntervals"
                            (change)="changeTimeInterval($event.target.value)">
                            <ng-container *ngFor="let interval of schedulingIntervals; let i = index">
                              <option [value]="interval.id">{{ interval.value }}</option>
                            </ng-container>
                          </select>
                        </div>
                        <!--<div class="col-md-4 col-sm-4"> //removed requested by Project Owner. Reason: redundant details
                          <p class="text-center">
                            {{ 'Agent' | translate }}:
                            {{ selectedGrid.lastName + ' ' + selectedGrid.firstName }}
                          </p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <p class="float-right">
                            {{ 'Date' | translate }}:
                            {{ selectedGrid.dateFrom | date: 'yyyy-MM-dd'}} <span *ngIf="selectedGrid.dateTo">-</span>
                            {{selectedGrid.dateTo | date: 'yyyy-MM-dd'}}</p>
                        </div>-->
                      </div>
                      <div class="row">
                        <div class="col-sm-12" cdkDropList (cdkDropListDropped)="dragged($event)">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 align icons_container"
                              style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
                              unselectable="on">
                              <span>
                                <i class="fa fa-angle-double-left arrow-icon float-icon-left" aria-hidden="true" (click)="toBeginning()"
                                  [ngClass]="(startIcon == 0) ? 'arrow-icon-disabled'  :  'arrow-icon' "></i>
                                <i style="width: 50px;" class="fa fa-caret-left arrow-icon float-icon-left" aria-hidden="true"
                                  (click)="previous()"
                                  [ngClass]="(startIcon == 0) ? 'arrow-icon-disabled'  :  'arrow-icon' "></i>
                              </span>
                              <ng-container
                                *ngFor="let code of schedulingCodes | horizontalScroll : startIcon: endIcon: iconCount; let i= index;">
                                <i id="{{ code.icon.value }}" class="icon-style icon"
                                  [ngClass]="{'icon-active': icon === code.icon.value}"
                                  (click)="onIconClick($event); t.close()" (mousedown)="t.close()"
                                  [ngClass]="{ 'icon-active': (selectedIconId == code.icon.value)}"
                                  [cdkDragDisabled]="el?.ranges[getRangeIndex(el)]?.status == 2" cdkDrag>
                                  <span ngbTooltip="{{ code.description }}" #t="ngbTooltip">
                                    {{ unifiedToNative(code.icon.value) }}</span></i>
                              </ng-container>
                              <span>
                                <i class="fa fa-angle-double-right arrow-icon float-icon-right" aria-hidden="true" (click)="toEnd()"
                                [ngClass]="(endIcon == schedulingCodes.length) ? 'arrow-icon-disabled' :  'arrow-icon'"></i>
                           
                                <i style="width: 50px;" class="fa fa-caret-right arrow-icon float-icon-right" aria-hidden="true"
                                  (click)="next()"
                                  [ngClass]="(endIcon == schedulingCodes.length) ? 'arrow-icon-disabled' :  'arrow-icon'"></i>
                                </span>
                            </div>
                          </div>
                          <br>

                          <ngx-spinner [name]="scheduleSpinner"></ngx-spinner>
                          <!-- <div class="col-md-1 col-sm-1 p-0">
                              <table class="jsgrid-table table">
                                <tbody>
                                  <tr class="jsgrid-row user-select-none">
                                    <td class="weekDayCell" style="background-color: #ffffff;"></td>
                                  </tr>
                                  <tr class="jsgrid-row user-select-none" *ngFor="let week of weekDays; let i = index">
                                    <td class="text-center jsgrid-cell-week weekDayCell">
                                      {{ weekDay[week] | slice: 0 : 3 }}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div> -->
                          <div class="col-md-12 col-sm-12 p-0 grid_table">
                            <table class="jsgrid-table table " id="schedulingGridTable">
                              <thead class="">
                                <tr>
                                  <th class="weekDayCell" style="background-color: #ffffff;"></th>
                                  <ng-container *ngFor="let data of openTimes;">
                                    <ng-container *ngIf="isMainMinute(data); else subMinutes">
                                      <th [ngClass]="data.split(' ')[1] === 'am' ? 'morning' : 'night'"
                                        class="jsgrid-header-cell jsgrid-header-sortable user-select-none">
                                        {{ data.split(':')[0] === '00' ? '12' : data.split(':')[0] }}
                                      </th>
                                    </ng-container>
                                    <ng-template #subMinutes>
                                      <th [ngClass]="data.split(' ')[1] === 'am' ? 'morning' : 'night'"
                                        class="jsgrid-header-cell jsgrid-header-sortable user-select-none">
                                        <sup>{{ data.split(':')[1].split(' ')[0] }}</sup>
                                      </th>
                                    </ng-template>
                                  </ng-container>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr class="jsgrid-header-row">

                                    <th class="jsgrid-header-cell jsgrid-header-sortable">
                                    </th> 

                                  </tr> -->
                                <tr class="jsgrid-row user-select-none" *ngFor="let week of weekDays; let i = index">
                                  <!-- <td class="jsgrid-cell-week">
                                      {{ weekDay[week] | slice: 0 : 3 }}
                                    </td> -->

                                  <td class="text-center jsgrid-cell-week weekDayCell text-white"
                                    style="font-size: 14px;">
                                    {{ weekDay[week] | slice: 0 : 3 }}
                                  </td>

                                  <td id="grid_col_{{week}}_{{j}}" class="jsgrid-cell"
                                    attr.time="{{ openTime.split(' ')[0] }}"
                                    attr.meridiem="{{ openTime.split(':')[1].split(' ')[1] }}" [attr.week]="week"
                                    *ngFor="let openTime of openTimes;let j = index" (mouseup)="onMouseUp($event)"
                                    (mouseover)="onMouseOver($event)" (contextmenu)="onRightClick($event)" (mousedown)="onMouseDown($event)"
                                    [ngClass]="openTime.split(' ')[1] === 'am' ? 'morning' : ''">
                                    <span>
                                      <i class="font-style-normal">{{ ( week | getIconForSchedulingGrid: openTime:
                                        selectedGrid: schedulingCodes: timeStampUpdate) }}</i>
                                    </span>
                                    <!-- </ng-container> -->
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 p-0 mt-3">


                      <div class="button-wrapper btn-container-left float-right">
                        <button
                          [disabled]="el?.ranges[getRangeIndex(el)]?.scheduleCharts?.length === 0 || !el?.ranges[getRangeIndex(el)]?.scheduleCharts"
                          class="btn btn-success btn-sm" id="btn_copy_schedule" (click)="openCopySchedule(el)">
                          <i class="fa fa-copy"></i>&nbsp;{{ 'Copy Schedule' | translate }}
                        </button>
                        <button [disabled]="!selectedGrid?.dateFrom" class="btn btn-primary btn-activity btn-sm"
                          id="btn_activity_logs" *ngIf="canShowActivityLog()" (click)="openActivityLogs(el)">
                          <i class="fa fa-tasks"></i>&nbsp;
                          {{ 'Activity Logs' | translate }}
                        </button>
                        <button
                          [disabled]="el?.ranges[getRangeIndex(el)]?.scheduleCharts?.length === 0 || !el?.ranges[getRangeIndex(el)]?.scheduleCharts"
                          [ngbTooltip]="'Export by employee'" *ngIf="agentSchedulingGroupId"
                          (click)="exportToExcelByEmployee(el.employeeId)" class="btn btn-primary btn-sm"><i
                            class="fa fa-download"></i>&nbsp;Export
                        </button>
                        <button [disabled]="!selectedGrid?.dateFrom || selectedGrid?.status == 2"
                          class="btn btn-primary  btn-sm" data-dismiss="modal" (click)="save(el)" id="btn_save">
                          <i class="fa fa-save"></i>&nbsp;{{ 'Save' | translate }}
                        </button>
                        <button [disabled]="!selectedGrid?.dateFrom || selectedGrid?.status == 2"
                          class="btn btn-primary btn-sm" data-dismiss="modal" (click)="cancel()" id="btn_cancel">
                          <i class="fa fa-times"></i>&nbsp;{{ 'Cancel' | translate }}
                        </button>
                      </div>
                    </div>

                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination p-0 float-right">
          <ngb-pagination class="p-r-5 pagination" [collectionSize]="totalSchedulingRecord" [rotate]="true"
            [maxSize]="10" (pageChange)="changePage($event)" [pageSize]="pageSize" [(page)]="currentPage"
            [boundaryLinks]="true">
          </ngb-pagination>
          <select class="form-control" (change)="changePageSize($event.target.value)">
            <option [selected]="x.count === pageSize" [value]="x.count" *ngFor="let x of paginationSize">
              {{ x.text | translate }}
            </option>
          </select>
        </ul>
      </nav>
    </div>
  </div>
</div>


<ng-template #batchRelease let-modal class="modal_release">

  <div class="modal-header header-color">
    <h6 class="modal-title w-100 font-weight-bold header">
      Batch Release

    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');clearBatchReleaseData();">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body  modal-style">
    <div class="col-md-12 m-t-20">
      <label for="" class=""><strong>Agent Scheduling Group</strong></label>
      <ng-select [typeahead]="typeAheadInput$" (close)="asgClose()" placeholder="Select scheduling group"
        [maxSelectedItems]="3" (scroll)="onAgentSchedulingGroupScroll($event)"
        (scrollToEnd)="onAgentSchedulingGroupScrollToEnd()" [items]="asg" [multiple]="true" bindLabel="name"
        [selectableGroup]="true" [closeOnSelect]="false" bindValue="id" [(ngModel)]="selectedAsg">

        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input style="display: none;" id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
        </ng-template>
      </ng-select>

     
      <label for="" class="mt-3"><strong>Scheduled Date(s)</strong></label>
      <ng-select groupBy="agentSchedulingGroup" (open)="dateRangeOpen()" placeholder="Select date range" [maxSelectedItems]="5" [items]="dateRange"
        [multiple]="true" bindLabel="fullrange" [closeOnSelect]="false" [(ngModel)]="selectedRange">

        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input style="display: none;" id="itemrange-{{index}}" type="checkbox" [ngModel]="item$.selected" />
          {{item.fullrange}}
        </ng-template>
      </ng-select>
     
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-end header-color">
    <div class="col-md-12 text-right">




      <button  class="btn btn-danger btn-sm mr-2" data-dismiss="modal"
        (click)="modal.dismiss('Cross click');clearBatchReleaseData();">Cancel</button>
      <button [disabled]="selectedRange.length === 0"  class="btn btn-success btn-sm" (click)="confirmRelease()">
        Release
      </button>


    </div>
  </div>

</ng-template>