<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12">
            <h2>{{ 'Client LOB Group' | translation: 'lbl_page_title' : translationValues }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a>Setup Menu</a></li>
                <li class="breadcrumb-item active"><b>Client LOB Group List</b> </li>
            </ol>
        </div>
    </div>
    <div class="row m-l-r-10">
        <div class="col-md-3 d-flex flex-column">
            {{ 'Client Name' | translation: 'lbl_client_name' : translationValues }}
            <select class="form-control">
                <option value="">{{ 'All' | translation: 'drp_list_all' : translationValues }}</option>
            </select>
        </div>
        <div class="col-md-2 padding-t-24">
            <button class="form-control" id="btn_search"><i class="fa fa-search" aria-hidden="true"></i>
                {{ 'Search' | translation: 'btn_search' : translationValues }}
            </button>
        </div>
        <div class="col-md-7 padding-t-24">
            <button type="button" class="btn btn-primary float-r" (click)="openModal()" id="btn_add"><i
                    class="fa fa-plus padding-5"
                    aria-hidden="true"></i>{{ 'Add' | translation: 'btn_add' : translationValues }}</button>
        </div>
    </div>
    <div class="row m-r-15">
        <div class="col-md-12 mt-2 table-responsive">
            <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
                <thead>
                    <tr>
                        <th class="width-10-p">
                            {{ 'Action' | translation: 'lbl_table_heading_action' : translationValues }}</th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc" data-name="id">
                            {{ 'ID' | translation: 'lbl_table_heading_id' : translationValues }}
                            <i class="fa fa-sort"></i></th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc"
                            data-name="refId">
                            {{ 'Reference ID' | translation: 'lbl_table_heading_ref_id' : translationValues }}
                            <i class="fa fa-sort"></i></th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc"
                            data-name="clientName">
                            {{ 'Client Name' | translation: 'lbl_table_heading_client_name' : translationValues }}
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc"
                            data-name="clientLOBGroupName">
                            {{ 'LOB Group Name' | translation: 'lbl_table_heading_lob_group_name' : translationValues }}
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc"
                            data-name="firstDayOfWeek">
                            {{ 'First day of week' | translation: 'lbl_table_heading_first_day_of_week' : translationValues }}
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc"
                            data-name="timeZoneForReporting">
                            {{ 'Time zone for reporting' | translation: 'lbl_table_heading_time_zone_for_reporting' : translationValues }}
                            <i class="fa fa-sort"></i></th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc"
                            data-name="createdBy">
                            {{ 'Created By' | translation: 'lbl_table_heading_created_by' : translationValues }}
                            <i class="fa fa-sort"></i></th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc"
                            data-name="createdDate" data-type="date">
                            {{ 'Created Date' | translation: 'lbl_table_heading_created_date' : translationValues }}
                            <i class="fa fa-sort"></i></th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc"
                            data-name="modifiedBy">
                            {{ 'Modified By' | translation: 'lbl_table_heading_modified_by' : translationValues }}
                            <i class="fa fa-sort"></i></th>
                        <th class="sortable-field width-10-p" [appSort]="totalLobGroup" data-order="asc"
                            data-name="modifiedDate" data-type="date">
                            {{ 'Modified Date' | translation: 'lbl_table_heading_modified_date' : translationValues }}
                            <i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let el of totalLobGroup  | slice: (currentPage-1) * pageSize : (currentPage-1) * pageSize + pageSize; let i = index">
                        <td><i class="far fa-edit padding-5 pointer" (click)="edit(el)"></i>
                            <i class="fa fa-trash padding-5 pointer" (click)="delete(el.id)"></i>
                        </td>
                        <td>{{el.id}}</td>
                        <td>{{el.refId}}</td>
                        <td>{{el.clientName}}</td>
                        <td>{{el.clientLOBGroupName}}</td>
                        <td>{{weekDay[el.firstDayOfWeek]}}</td>
                        <td>{{el.timeZoneForReporting}}</td>
                        <td>{{el.createdBy}}</td>
                        <td>{{el.createdDate | date: 'yyyy-MM-dd'}}</td>
                        <td>{{el.modifiedBy}}</td>
                        <td>{{el.modifiedDate | date: 'yyyy-MM-dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination p-0 float-right">
                    <ngb-pagination class="p-r-5" [collectionSize]="totalLobGroupRecord"
                        (pageChange)="changePage($event)" [pageSize]="pageSize" [(page)]="currentPage"
                        [boundaryLinks]="true"></ngb-pagination>
                    <select class="form-control" (change)="changePageSize($event.target.value)">
                        <option [value]="x.count" *ngFor="let x of paginationSize">{{x.sizeText}}</option>
                    </select>
                </ul>
            </nav>
        </div>
    </div>
</div>