<div class="modal-dialog w-1000 add-edit-modal" role="document">
  <div class="modal-content">
    <ngx-spinner [name]="spinner"></ngx-spinner>
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <p>{{getTitle() | translate }} {{ 'Agent_category' | translate }}</p>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <form [formGroup]="agentCategoryForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Description' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('descriptionOrName')}"
                formControlName="descriptionOrName" placeholder="{{'Description_or_name' | translate }}" [maxLength]="maxLength" />
              <div *ngIf="hasFormControlValidationError('descriptionOrName')" class="valid-error">
                {{ 'Description is required' | translate }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label> {{ 'Data_type' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control" [ngClass]="{'valid-border-error': hasFormControlValidationError('dataType')}"
                formControlName="dataType">
                <option value="">
                  {{ 'Select_a_data_type' | translate }}</option>
                <option *ngFor="let x of dataTypes" [value]="x">{{ dataType[x] | translate }}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('dataType')" class="valid-error">
                {{ 'Data_type_is_required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <ng-container [formGroup]="agentCategoryForm.controls.range" *ngIf="agentCategoryForm.controls.range">
          <div class="col-md-12 m-t-20">
            <div class="row">
              <div class="col-md-4">
                <label> {{ 'Minimum' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" (paste)="canPasteValue()"
                  [ngClass]="{'valid-border-error': rangeRequiredError('range', 'minRange')}" formControlName="minRange"
                  maxlength="40" (keypress)="checkValidity($event)" />
                <div *ngIf="rangeRequiredError('range', 'minRange')" class="valid-error">
                  {{ 'Minimum is required' | translate }}
                </div>
                <div *ngIf="formSubmitted && agentCategoryForm.get('range')?.errors?.rangeError" class="valid-error">
                  {{ 'Minimum value should be lesser than Maximum value' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-t-20">
            <div class="row">
              <div class="col-md-4">
                <label> {{ 'Maximum' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" (paste)="canPasteValue()"
                  [ngClass]="{'valid-border-error': rangeRequiredError('range', 'maxRange')}" formControlName="maxRange"
                  maxlength="40" (keypress)="checkValidity($event)" />
                <div *ngIf="rangeRequiredError('range', 'maxRange')" class="valid-error">
                  {{ 'Maximum is required' | translate }}
                </div>
                <div *ngIf="formSubmitted && agentCategoryForm.get('range')?.errors?.rangeError" class="valid-error">
                  {{ 'Maximum value should be greater than Minimum value' | translate }}
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container [formGroup]="agentCategoryForm.controls.dateRange" *ngIf="agentCategoryForm.controls.dateRange">
          <div class="col-md-12 m-t-20">
            <div class="row">
              <div class="col-md-4">
                <label> {{ 'Date' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-md-8">
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="dateMinRange" placeholder="Select Date"
                    [readonly]="true" ngbDatepicker [footerTemplate]="startDateTemplate"
                    [minDate]="{year: 1990, month: 1, day: 1}" #startDate="ngbDatepicker" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar"
                      [ngClass]="{'valid-border-error': rangeRequiredError('dateRange', 'dateMinRange')}"
                      (click)="startDate.toggle()"></button>
                  </div>
                  <ng-template #startDateTemplate>
                    <button class="btn btn-primary btn-sm m-2 float-left"
                      (click)="setStartDateAsToday(); startDate.close()">Today</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="startDate.close()">Close</button>
                  </ng-template>
                </div>
                <div *ngIf="rangeRequiredError('dateRange', 'dateMinRange')" class="valid-error">
                  {{ 'Date is required' | translate }}
                </div>                
              </div>
            </div>
          </div>         
        </ng-container>
      </form>
    </div>

    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="save()" id="btn_save">
              <i class="fa fa-save padding-5"></i>{{ 'Save' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>