<div class="modal-dialog w-1000 add-edit-modal" role="document">
  <div class="modal-content">
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <p>{{title}} {{ 'Skill Tags' | translation: 'lbl_add_edit_page_title' : translationValues }}</p>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 modal-style">
      <form [formGroup]="skillTagForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label for=""
                class="my-2">{{ 'Client Name' | translation: 'lbl_add_edit_client_name' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('clientName')}"
                formControlName="clientName">
                <option value="">{{ 'Select' | translation: 'drp_default_Select' : translationValues }}</option>
                <option *ngFor="let x of clientNames" [value]="x.name">{{x.name}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('clientName')" class="valid-error">
                {{ 'Client Name is required' | translation: 'lbl_add_edit_client_name_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label for=""
                class="my-2">{{ 'LOB Group Name' | translation: 'lbl_skill_tag_add_edit_lob_group_name' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('clientLobGroup')}"
                formControlName="clientLobGroup">
                <option value="">{{ 'Select' | translation: 'drp_default_Select' : translationValues }}</option>
                <option *ngFor="let x of clientLOBNames" [value]="x.clientLOBName">{{x.clientLOBName}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('clientLobGroup')" class="valid-error">
                {{ 'LOB Group Name is required' | translation: 'lbl_add_edit_lob_group_name_required_validation_message' : translationValues }}
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label for=""
                class="my-2">{{ 'Skill Group Name' | translation: 'lbl_skill_tag_add_edit_skill_group_name' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('skillGroup')}"
                formControlName="skillGroup">
                <option value="">{{ 'Select' | translation: 'drp_default_Select' : translationValues }}</option>
                <option *ngFor="let x of skillGroups" [value]="x.skillGroup">{{x.skillGroup}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('skillGroup')" class="valid-error">
                {{ 'Skill Group Name is required' | translation: 'lbl_add_edit_skill_group_name_required_validation_message' : translationValues }}
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label for=""
                class="my-2">{{ 'Skill Tag Name' | translation: 'lbl_add_edit_skill_tag_name' : translationValues }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('skillTagName')}"
                formControlName="skillTagName" />
              <div *ngIf="hasFormControlValidationError('skillTagName')" class="valid-error">
                {{ 'Skill Tag Name is required' | translation: 'lbl_add_edit_skill_tag_name_required_validation_message' : translationValues }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20 operating-hours-accordian">
          <ngb-accordion #acc="ngbAccordion" activeIds="operatingHours">
            <ngb-panel id="operatingHours">
              <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle class="d-flex w-100
                  align-items-center justify-content-between btn btn-link p-0">
                  <label
                    class="text-bold">{{ 'Operation hours for skill' | translation: 'lbl_operation_hours_for_skill' : translationValues }}</label>
                  <i class="fa" [ngClass]="opened ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-md-12">
                    <div class="w-100 open-hours table-bordered expanding-table">
                      <thead>
                        <tr>
                          <th>{{ 'Day' | translation: 'lbl_day' : translationValues }}</th>
                          <th>{{ 'Open' | translation: 'lbl_open' : translationValues }}<span class="required">*</span>
                          </th>
                          <th>{{ 'From' | translation: 'lbl_from' : translationValues }}</th>
                          <th>{{ 'To' | translation: 'lbl_to' : translationValues }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container formArrayName="openHours">
                          <tr *ngFor="let details of openHours.controls index as i">
                            <ng-container [formGroupName]="i">
                              <td class="text-bold days">{{getWeekDay(details.value.day)}}</td>
                              <td>
                                <select class="form-control" (change)="onOptionTypeChange(i)" formControlName="open">
                                  <option value="">
                                    {{ 'Select' | translation: 'drp_default_Select' : translationValues }}
                                  </option>
                                  <option *ngFor="let x of openTypes" [value]="x.open">{{x.open}}</option>
                                </select>
                                <span *ngIf="formSubmitted && openHours.controls[i].get('open').errors?.required"
                                  class="valid-error">
                                  {{ 'Please select open type' | translation: 'lbl_add_edit_open_type_required_validation_message' : translationValues }}
                                </span>
                              </td>
                              <td>
                                <select class="form-control"
                                  [attr.disabled]="((openHours.controls[i].value.open == '' || openHours.controls[i].value.open !== 'Open Partial Day') ? '' : null)"
                                  formControlName="from">
                                  <option *ngFor="let x of openTime" [value]="x">{{x}}</option>
                                </select>
                                <span *ngIf="formSubmitted && openHours.controls[i].errors?.rangeError"
                                  class="valid-error">
                                  {{ 'Enter a valid time range' | translation: 'lbl_add_edit_time_range_invalid_validation_message' : translationValues }}
                                </span>
                                <span *ngIf="hasOpenHoursValidationError('from', i)" class="valid-error">
                                  {{ 'Time range is required' | translation: 'lbl_add_edit_time_range_required_validation_message' : translationValues }}
                                </span>
                              </td>
                              <td>
                                <select class="form-control"
                                  [attr.disabled]="((openHours.controls[i].value.open == '' || openHours.controls[i].value.open !== 'Open Partial Day') ? '' : null)"
                                  formControlName="to">
                                  <option *ngFor="let x of openTime" [value]="x">{{x}}</option>
                                </select>
                                <span *ngIf="formSubmitted && openHours.controls[i].errors?.rangeError"
                                  class="valid-error">
                                  {{ 'Enter a valid time range' | translation: 'lbl_add_edit_time_range_invalid_validation_message' : translationValues }}
                                </span>
                                <span *ngIf="hasOpenHoursValidationError('from', i)" class="valid-error">
                                  {{ 'Time range is required' | translation: 'lbl_add_edit_time_range_required_validation_message' : translationValues }}
                                </span>
                              </td>
                            </ng-container>
                          </tr>
                        </ng-container>
                      </tbody>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="save()">
              <i class="fa fa-save padding-5"></i>Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>