<div class="modal-dialog w-1000 add-edit-modal" role="document">
  <div class="modal-content">
    <ngx-spinner [name]="spinner"></ngx-spinner>
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <p>{{ getTitle() | translate }} {{ 'Skill_tags' | translate }}</p>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 modal-style">
      <form [formGroup]="skillTagForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>
                {{ 'ID' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="refId" [maxLength]="10"
               (keypress)="isNumberKey($event)" onpaste="return false;" />
            </div>
          </div>
        </div>         
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label class="my-2">{{ 'Client_name' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <app-client-name-typeahead [clientId]="clientId" (clientSelected)="setClient($event)">
              </app-client-name-typeahead>
              <div *ngIf="!clientId && formSubmitted" class="valid-error">
                {{ 'Client Name is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label for=""
                class="my-2">{{ 'LOB_group_name' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <app-client-lob-group-typeahead [clientId]="clientId" [clientLobId]="clientLobGroupId" [hierarchy]='true'
                (clientLobSelected)="setClientLobGroup($event)"></app-client-lob-group-typeahead>
              <div *ngIf="!clientLobGroupId && formSubmitted" class="valid-error">
                {{ 'LOB Group Name is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label for=""
                class="my-2">{{ 'Skill_group_name' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <app-skill-group-typeahead (skillGroupSelected)="setSkillGroup($event)" [clientId]="clientId" [hierarchy]='true'
                [clientLobGroupId]="clientLobGroupId" [skillGroupId]="skillGroupId"></app-skill-group-typeahead>
              <div *ngIf="!skillGroupId && formSubmitted" class="valid-error">
                {{ 'Skill Group Name is required' | translate }}
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label for=""
                class="my-2">{{ 'Skill_tag_name' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('name')}" formControlName="name"
                [maxLength]="maxLength" />
              <ng-container *ngIf="formSubmitted && form.name.invalid">
                <ng-container *ngIf="hasFormControlValidationError('name'); else maxLengthError">
                  <div *ngIf="hasFormControlValidationError('name')" class="valid-error">
                    {{ 'Skill Tag Name is required' | translate }}
                  </div>
                </ng-container>
                <ng-template #maxLengthError>
                  <div class="valid-error">
                    {{ 'Skill Tag Name cannot exceed 50 characters' | translate }}
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20 operating-hours-accordian">
          <ngb-accordion #acc="ngbAccordion" activeIds="operationHour">
            <ngb-panel id="operationHour">
              <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle class="d-flex w-100
                    align-items-center justify-content-between btn btn-link p-0">
                  <label
                    class="text-bold">{{ 'Operation_hours_for_skill' | translate }}</label>
                  <i class="fa" [ngClass]="opened ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-md-12">
                    <div class="w-100 open-hours table-bordered expanding-table">
                      <thead>
                        <tr>
                          <th>{{ 'Day' | translate }}</th>
                          <th>{{ 'Open' | translate }}<span class="required">*</span>
                          </th>
                          <th>{{ 'From' | translate }}</th>
                          <th>{{ 'To' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container formArrayName="operationHour">
                          <tr *ngFor="let details of operationHour.controls index as i">
                            <ng-container [formGroupName]="i">
                              <td class="text-bold days">{{getWeekDay(details.value.day)}}</td>
                              <td>
                                <select class="form-control" (change)="onOptionTypeChange(i)"
                                  formControlName="operationHourOpenTypeId">
                                  <option *ngFor="let x of openTypes" [value]="x.id">{{x.open}}</option>
                                </select>
                                <span
                                  *ngIf="formSubmitted && operationHour.controls[i].get('operationHourOpenTypeId').errors?.required"
                                  class="valid-error">
                                  {{ 'Please select open type' | translate }}
                                </span>
                              </td>
                              <td>
                                <select class="form-control" formControlName="from">
                                  <option *ngFor="let x of openTime" [value]="x">{{x}}</option>
                                </select>
                                <span *ngIf="hasOpenHoursValidationError('from', i)" class="valid-error">
                                  {{ 'Time range is required' | translate }}
                                </span>
                              </td>
                              <td>
                                <select class="form-control" formControlName="to">
                                  <option *ngFor="let x of openTime" [value]="x">{{x}}</option>
                                </select>
                                <span *ngIf="hasOpenHoursValidationError('to', i)" class="valid-error">
                                  {{ 'Time range is required' | translate }}
                                </span>
                                <span *ngIf="formSubmitted && operationHour.controls[i].errors?.rangeError && !hasOpenHoursValidationError('to', i)"
                                  class="valid-error">
                                  {{ 'Enter a valid time range' | translate }}
                                </span>
                              </td>
                            </ng-container>
                          </tr>
                        </ng-container>
                      </tbody>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="saveSkillTagDetails()">
              <i class="fa fa-save padding-5"></i>Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>