<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2>{{ 'Scheduling_codes' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>{{ 'System_admin' | translate }}</a></li>
        <li class="breadcrumb-item active"><b>{{ 'Scheduling_code_list' | translate }}</b></li>
      </ol>
    </div>
  </div>

  <div class="row m-l-r-10">
    <div class="col-md-3 padding-bottom-5">
      <input type="text" class="form-control padding-right-35" placeholder="{{ 'Enter_a_description' | translate }}"
        [(ngModel)]="searchKeyword" [maxLength]="maxLength"/>
        <span *ngIf="searchKeyword?.length > 0" class="fa fa-times close-icon pointer" (click)="clearSearchText()"></span>
    </div>
    <div class="col-md-2 padding-bottom-5">
      <button class="form-control" id="btn_search" (click)="searchSchedulingCode()">
        <i class="fa fa-search" aria-hidden="true"></i>
        {{ 'Search' | translate }}
      </button>
    </div>
    <div *permission="{rolesPermitted: [1]}" class="col-md-7 padding-bottom-5">
      <button type="button" class="btn btn-primary float-r" (click)="addSchedulingCode()" id="btn_add">
        <i class="fa fa-plus padding-5" aria-hidden="true"></i>
        {{ 'Add' | translate }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-2 table-responsive">
      <div class="scrollable-table">
        <table id="tableSortExample " class="table table-bordered table-striped table-fixed">
          <thead>
            <tr>
              <th *permission="{rolesPermitted: [1]}">
                {{ 'Action' | translate }}
              </th>
              <!-- <th class="sortable-field" (click)="sort('id', sortBy)">
                {{ 'ID' | translate }}
                <i *ngIf="orderBy !== 'id'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'id'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th> -->
              <th class="sortable-field" (click)="sort('refId', sortBy)">
                {{ 'ID' | translate }}
                <i *ngIf="orderBy !== 'refId'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'refId'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
             <!-- <th>
                {{ 'Time Off Code' | translate }}
              </th>-->
              <th class="sortable-field" (click)="sort('description', sortBy)">
                {{ 'Description' | translate }}
                <i *ngIf="orderBy !== 'description'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'description'" class="fa" [class.fa-sort-down]="sortBy === 'desc'"
                  [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field" (click)="sort('priorityNumber', sortBy)">
                {{ 'Priority' | translate }} #
                <i *ngIf="orderBy !== 'priorityNumber'" class="fa fa-sort"></i>
                <i id="sortIcon" *ngIf="orderBy === 'priorityNumber'" class="fa"
                  [class.fa-sort-down]="sortBy === 'desc'" [class.fa-sort-up]="sortBy === 'asc'">
                </i>
              </th>
              <th class="sortable-field">
                {{ 'Type_of_code' | translate }}
              </th>
              <th class="sortable-field">
                {{ 'Icon' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ngx-spinner [name]="spinner">
            </ngx-spinner>
            <tr *ngIf="schedulingCodes?.length === 0" class="valid-record">
              <td colspan="12">
                {{ 'No match records found' | translate }}</td>
            </tr>
            <tr *ngFor="let el of schedulingCodes;let i = index;">
              <td *permission="{rolesPermitted: [1]}">
                <i class="fa fa-edit padding-5 pointer" (click)="editSchedulingCode(el)"></i>
                <i class="fa fa-trash padding-5 pointer" (click)="deleteSchedulingCode(el.id)"></i>
              </td>
              <!-- <td>{{ el.id }}</td> -->
              <td>{{ el.refId }}</td>
              <!--<td>{{getTimeOffCodeValue(el?.timeOffCode)}}</td>-->
              <td>
                <span
                  ngbTooltip="{{ el.description }}">{{ el.description | truncate: { sliceStart: 0, sliceEnd: characterSplice, append: '...' } }}</span>
              </td>
              <td>
                <span
                  ngbTooltip="{{ el.priorityNumber }}">{{ el.priorityNumber | truncate: { sliceStart: 0, sliceEnd: characterSplice, append: '...' } }}</span>
              </td>
              <td>
                <ng-container *ngFor="let type of el.schedulingTypeCode  | slice:0:3; let i = index;">
                  <span class="border">{{ type.value }}</span>
                </ng-container>
                <span class="padding-left-10 float-right">
                  <a type="button" [ngbPopover]="popContent" [popoverTitle]="popTitle" [placement]="'auto'"
                    container="body">
                    <i class="fa fa-ellipsis-h"></i>
                  </a>
                  <ng-template #popContent>
                    <ul *ngFor="let type of el.schedulingTypeCode">
                      <li>{{ type.value }}</li>
                    </ul>
                  </ng-template>
                  <ng-template #popTitle>
                    {{ 'Type_of_code' | translate }}
                  </ng-template>
                </span>
              </td>
              <td><i class="icon-style">{{ unifiedToNative(el.icon.value) }}</i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-end mt-3">
          <nav aria-label="Page navigation example">
            <ul class="pagination p-0 float-right">
              <ngb-pagination class="p-r-5" [collectionSize]="totalSchedulingCodesRecord" [rotate]="true" [maxSize]="10" 
                (pageChange)="changePage($event)" [pageSize]="pageSize" [(page)]="currentPage" [boundaryLinks]="true">
              </ngb-pagination>
              <select class="form-control" (change)="changePageSize($event.target.value)">
                <option [selected]="x.count === pageSize" [value]="x.count" *ngFor="let x of paginationSize">
                  {{ x.text | translate }}
                </option>
              </select>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>