<div class="modal-dialog w-1000 add-edit-modal" role="document">
    <div class="modal-content">
      <ngx-spinner [name]="spinner" bdColor="rgba(255, 0, 0, 0.8)"></ngx-spinner>
      <div class="modal-header header-color">
        <h6 class="modal-title w-100 font-weight-bold header">
          <p>{{ getTitle() | translate }} {{ 'Client_lob_group' | translate }}</p>
        </h6>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="clientLOBGroupForm">         
          <div class="col-md-12 m-t-20">
            <div class="row">
              <div class="col-md-4">
                <label>
                  {{ 'ID' | translate }}
                </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" formControlName="refId" [maxLength]="10"
                 (keypress)="isNumberKey($event)" onpaste="return false;" />
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-4">
                <label>{{ 'Client_name' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-md-8">
                <app-client-name-typeahead (clientSelected)="setClient($event)"
                 [clientId]="editClientId"></app-client-name-typeahead>
                 <div *ngIf="!clientId && formSubmitted" class="valid-error">
                  {{ 'Client Name is required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-t-20">
            <div class="row">
              <div class="col-md-4">
                <label>{{ 'LOB_group_name' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" [maxLength]="maxLength"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('name')}"
                formControlName="name" /> 
                <ng-container *ngIf="formSubmitted && form.name.invalid">
                  <ng-container *ngIf="hasFormControlValidationError('name'); else maxLengthError">
                <div *ngIf="hasFormControlValidationError('name')" class="valid-error">
                  {{ 'LOB Group Name is required' | translate }}
                </div>
              </ng-container>
              <ng-template #maxLengthError>
                <div class="valid-error">
                  {{ 'Client LOB group name cannot exceed 50 characters' | translate }}
                </div>
              </ng-template>
            </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-t-20">
            <div class="row">
              <div class="col-md-4">
                <label>{{ 'First_day_of_week' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <ng-container *ngFor="let day of weekDays">
                    <div class="form-group clearfix margin-b-05-rem">
                      <div class="icheck-primary d-inline">
                        <input type="radio" id="{{ 'radio_lob_group_' + getWeekDay(day) }}" name="firstDayOfWeek"
                          [value]="day" formControlName="firstDayOfWeek">
                        <label for="{{ 'radio_lob_group_' + getWeekDay(day) }}">
                          {{ getWeekDay(day) | translate }}
                        </label>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="hasFormControlValidationError('firstDayOfWeek')" class="valid-error">
                  {{ 'First day of week is required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-t-20">
            <div class="row">
              <div class="col-md-4">
                <label>{{ 'Timezone for reporting' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-md-8">
                <select class="form-control"
                  [ngClass]="{'valid-border-error': hasFormControlValidationError('timeZoneId')}"
                  formControlName="timeZoneId">
                  <option value="">{{ 'Select' | translate }}
                  </option>
                  <option value="" *ngFor="let x of timeZones" [value]="x.id">{{x.value}}</option>
                </select>
                <div *ngIf="hasFormControlValidationError('timeZoneId')" class="valid-error">
                  {{ 'Timezone for reporting is required' | translate }}
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center header-color">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <button class="btn btn-primary float-r" data-dismiss="modal" (click)="saveClientLobGroupDetails()" id="btn_save">
                <i class="fa fa-save padding-5"></i>{{ 'Save' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>