.header-title {
    span {
      margin-right: 5px;
      background: white;
      border: solid 1px #d2d2d2;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
    }
  
    h5 {
      padding-top: 3px;
    }
  }
  
  .breadcrumb-item.active {
    color: inherit;
  }
  
  .breadcrumb {
    background-color: inherit;
  }
  
  button.calendar,
  button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
  
  .icon-style {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: white;
  }
  
  .icon:hover {
    background-color: #a8a8ae;
  }
  
  .jsgrid-grid-body {
    padding-right: 8px;
    padding-left: 13px
  }
  
  .jsgrid-grid-header {
    overflow-x: auto;
    overflow-y: auto;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
  }
  
  .jsgrid-cell {
    cursor: pointer;
    background-color: white;
    height: 30px!important;
    width: 40px!important;
  }
  
  // .managerGridIcon{
  //   height: 50px;
  //   width: 61px;
  // }
  
  .jsgrid-cell:hover {
    cursor: pointer;
    background-color: lightgrey;
  }
  
  .jsgrid-cell-week {
    background-color: white;
  }
  
  .jsgrid-header-cell {
    cursor: pointer;
    height: 40px!important;
    width: 40px!important;
  }
  .table td {
    padding: 9px 8px 10px 8px !important;
  }
  .jsgrid-row {
    height: 30px;
  }
  
  .morning {
    background-color: white;
    padding: 8px 8px 8px 8px;
  }
  
  .night {
    background-color: darkgrey;
    color: white;
    padding: 8px 8px 8px 8px;
  }
  
  .cell-selected {
    background-color: #007bff3b !important;
  }
  
  .padding-10 {
    padding: 10px;
  }
  
  .align {
    text-align: center;
  }
  
  .arrow-icon {
    font-size: 15px;
    padding: 6px;
    cursor: pointer;
    color: #007bff;
    background: #c4c4c44a;
  }
  
  .arrow-icon-disabled {
    font-size: 15px;
    padding: 6px;
    cursor: not-allowed;
    color: #6189b24f;
    background: #c4c4c44a;
  }
  
  .margin-5 {
    margin: 5px;
  }
  
  // .icon-active {
  //   background-color: #007bff !important;
  // }
  
  .float-r {
    float: right;
  }
  
  .table-row:hover {
    background: #c4e2ff54 !important;
    border-color: #c4e2ff54 !important;
  }
  
  .table tbody tr.table-row-active:nth-of-type(odd) {
    background: #c4e2ff !important;
  }
  
  .table tbody tr.table-row-active:nth-of-type(even) {
    background: #c4e2ff !important;
  }
  
  .hidden-datepicker {
    background-color: inherit;
    border: none;
    width: 0%;
    display: inherit;
  }
  
  select.form-control {
    height: calc(1.5em + .75rem + 0px) !important;
    font-size: 0.9rem !important;
  }
  
  .icon-style {
    padding: 5px;
    font-style: normal;
    cursor: pointer;
  }
  
  .font-style-normal {
    font-style: normal;
  }
  
  .form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  
  .expand-icon {
    color: #007bff;
  }
  
  .width-sm {
    width: 20%;
  }
  
  p.float-left {
    padding-right: 10px;
    padding-top: 3px;
  }
  
  .form-control[readonly] {
    background-color: white;
  }
  
  .delete-btn {
    height: calc(1.5em + .75rem + 0px) !important;
    font-size: 0.9rem !important;
  }
  
  .m-l-20 {
    margin-left: 20px;
  }
  
  .m-l-10 {
    margin-left: 10px;
  }
  
  .w-6p {
    width: 6%;
  }
  
  .w-15p {
    width: 15%;
  }
  
  .w-30p {
    width: 30%;
  }
  
  .margin-4 {
    margin: 4px;
  }
  
  .border {
    border: 2px solid #dfdfeb;
  }
  
  .bg-color {
    background-color: #dfdfeb;
  }
  
  input:focus {
    outline: unset;
  }
  
  select:focus {
    outline: unset;
  }
  
  .label-color {
    color: #007bff;
  }
  
  .m-t-20 {
    margin-top: 20px;
  }
  
  .p-t-10 {
    padding-top: 10px;
  }
  
  .label {
    font-weight: 100;
  }
  
  label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400;
  }
  
  .agent-info-lbl {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  input.manager {
    height: calc(1.5em + .75rem + 0px) !important;
    font-size: 0.9rem !important;
  }
  
  .test {
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 0px;
    background-color: #f6f6f69e;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 32px;
  }
  
  .m-b-10 {
    margin-bottom: 10px !important;
  }
  
  .width-43p {
    width: 43% !important;
  }
  
  tr.selected td {
    background-color: #c4e2ff54;
  }
  
  .copy-button {
    border: #4fb398cc solid 2px;
    color: #4fb398cc;
  }
  
  .black {
    color: black !important;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .padding-2 {
    padding: 2px;
  }
  
  .icon-image {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .m-t-6 {
    margin-top: 6px;
  }

  .disable-img {
    pointer-events: none;
    cursor: default;
  }

  // .table-container{
  //   overflow-y: scroll;
  //   overflow-x: hidden;
  //   max-height: 400px;
  // }

  .sched-manager-scrollable{
    // overflow-y: hidden;
    overflow-x: scroll;
    overflow-y:auto;
    width:100%;
    min-height: auto;
    max-height:500px;
  }
 
  .level-trans{
 position: fixed;
 margin-left: 300px;
 top: 56px;
  background-color: #fff;
    z-index: 9999;
    width: auto;
    text-align: center;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tscroll-fix{
  background-color: #fff;
  position: fixed;
width: 100%;
  top: 96px;

    margin-left: 3px;
}
.sticky{
  position: fixed;
  top: 37px;
  overflow: hidden;
  z-index: 10;
  width: auto;
  left: 0;
  right: 0;
  margin-left: 300px;
  background-color: #fff;
  border-bottom: 1px solid #ced4da;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sticky1{
  position: fixed;
  top: 44px;
  overflow: hidden;
  z-index: 9;
  width: auto;
  left: 7px;
  right: 0;
  margin-left: 300px;
  background-color: #fff;
  border-bottom: 1px solid #ced4da;
  padding-top: 0px;
  padding-bottom: 0;
}
.schedule_table_body td{
  // height: 50px;
  // width: 61px;
}
// .sticky2{
//   position: fixed;
//   top: 44px;
//   overflow: hidden;
//   z-index: 9;
//   width: auto;
  
//   margin-left: 300px;
//   background-color: #fff;
//   border-bottom: 1px solid #ced4da;
//   padding-top: 0px;
//   padding-bottom: 0;
// }
// .main-table{
//   position: relative;
// }

th {

  width: 100px;
}


table {
  table-layout: fixed;
  width:100%;
}
.jsgrid-cell-empName{
  position:sticky;
  left:130px;
  z-index:0!important;
  background-color:#f0f0f0;
  min-width: 30%!important;
  max-width: 30%!important;

}
span.name_wrapper{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jsgrid-cell-emp{
  z-index: 0!important;
}
.employee_id_header{
  position:sticky;
  left:100px;
  z-index:1!important;
  background-color:#f0f0f0;
width: 130px;
padding: .35rem!important;
padding-left: 10px!important;
}
.name_header{
  position:sticky;
  left:130px;
  z-index:1;
  background-color:#f0f0f0;
width: 205px;
padding: .35rem!important;
padding-left: 10px!important;
}
td:first-child, th:first-child{
  position:sticky;
  left:0;
  z-index:1;
  background-color:#f0f0f0;
  min-width: 30%!important;
  max-width: 30%!important;

}
tr.selected .jsgrid-cell-empName,
tr.selected td:first-child{
  background-color:#f0f0f0!important;
}
thead tr th {
  position:sticky;
  top:0;
}
.date_header{
  height: 27px !important;
  padding: 6px 0px 3px 5px;
}
.second_row th{
  top: 27px!important;
}
sup{
  left: 0px!important;
}
.whole{
  text-align: center;
}
.button-wrapper .btn {
  margin: 20px 0px;
}
.btn-container-left>.btn:first-of-type {
  margin-left: 0;
}
.btn-container-left>.btn {
  margin-left: 6px;
  margin-right: 6px;
}
.agent_details_table th{
  font-size: 14px;
  padding: 8px 8px 8px 5px;
}
th{
  font-size: 14px;
}
td{
  font-size: 13px!important;
}
