    <div class="modal-dialog modal-date-picker add-edit-modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title w-100 font-weight-bold header">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-10">
                  <p>{{getTitle() | translate}} {{'Date Range' | translate}}</p>
                </div>
                <div class="col-md-2">
                  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </h6>
        </div>
        <div class="modal-body">
          <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
            outsideDays="hidden">
          </ngb-datepicker>

          <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"(click)="save()">{{getTitle() | translate}} {{'Date Range' | translate}}</button>
        </div>
      </div>
    </div>