<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h2 id="page_title">{{ 'Scheduling_grid' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>{{ 'Scheduling_menu' | translate }}</a></li>
        <li class="breadcrumb-item active"><b>{{ 'Scheduling_grid_list' | translate }}</b> </li>
      </ol>
    </div>
  </div>

  <app-scheduling-filter (startDateSelected)="onSelectStartDate($event)" (keywordToSearch)="search($event)"
    (agentSchedulingGroupSelected)="onSchedulingGroupChange($event)"></app-scheduling-filter>

  <div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
      <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="scheduling-tab" data-toggle="pill" href="#scheduling" role="tab"
            aria-controls="scheduling" aria-selected="true" (click)="openTab(0)">Scheduling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="scheduling-manager-tab" data-toggle="pill" href="#scheduling-manager" role="tab"
            aria-controls="cscheduling-manager" aria-selected="false" (click)="openTab(1)">Scheduling Manager</a>
        </li>
        <li class="pull-right marign-l-auto m-t-10">
          <img src="assets/images/Export.jpg" class="icon-image float-right padding-2" [ngbTooltip]="'Export'"
            (click)="exportToExcel()">
          <img src="assets/images/Import.jpg" [ngClass]="{'disable-img': !agentSchedulingGroupId}" class="icon-image float-right padding-2" [ngbTooltip]="'Import'"
            (click)="openImportSchedule()">
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content" id="scheduling-tabContent">
    <div class="tab-pane fade show active" id="scheduling" role="tabpanel" aria-labelledby="scheduling-tab">
      <app-scheduling [currentLanguage]="currentLanguage" [agentSchedulingGroupId]="agentSchedulingGroupId"
        [searchText]="searchText" [tabIndex]="tabIndex" [startDate]="startDate"
        [refreshSchedulingTab]="refreshSchedulingTab" [schedulingCodes]="schedulingCodes">
      </app-scheduling>
    </div>
    <div class="tab-pane fade" id="scheduling-manager" role="tabpanel" aria-labelledby="scheduling-manager-tab">
      <app-scheduling-manager [startDate]="startDate" [currentLanguage]="currentLanguage"
        [agentSchedulingGroupId]="agentSchedulingGroupId" [searchText]="searchText"
        [refreshMangerTab]="refreshMangerTab" [tabIndex]="tabIndex" [schedulingCodes]="schedulingCodes">
      </app-scheduling-manager>
    </div>
  </div>
</div>