<div class="modal-dialog w-1000 add-edit-modal" role="document">
  <div class="modal-content">    
    <ngx-spinner [name]="spinner"></ngx-spinner>
    <div class="modal-header header-color">
      <h6 class="modal-title w-100 font-weight-bold header">
        <p>{{ getTitle() | translate }} {{ 'Skill_groups' | translate }}</p>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 modal-style">
      <form [formGroup]="skillGroupForm">
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>
                {{ 'ID' | translate }}
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="refId" [maxLength]="10"
               (keypress)="isNumberKey($event)" onpaste="return false;" />
            </div>
          </div>
        </div> 
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Client_name' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <app-client-name-typeahead [clientId]="clientId" (clientSelected)="setClient($event)">
              </app-client-name-typeahead>
              <div *ngIf="!clientId && formSubmitted" class="valid-error">
                {{ 'Client Name is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'LOB_group_name' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <app-client-lob-group-typeahead [clientId]="clientId" [clientLobId]="clientLobGroupId" [hierarchy]='true'
                (clientLobSelected)="setClientLobGroup($event)"></app-client-lob-group-typeahead>
              <div *ngIf="!clientLobGroupId && formSubmitted" class="valid-error">
                {{ 'LOB Group Name is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'Skill_group_name' | translate }}
                <span class="required">*</span>
              </label>
            </div>            
            <div class="col-md-8">
              <input type="text" class="form-control" [maxLength]="maxLength"
              [ngClass]="{'valid-border-error': hasFormControlValidationError('name')}"
              formControlName="name" /> 
              <ng-container *ngIf="formSubmitted && form.name.invalid">
                <ng-container *ngIf="hasFormControlValidationError('name'); else maxLengthError">
              <div *ngIf="hasFormControlValidationError('name')" class="valid-error">
                {{ 'Skill Group Name is required' | translate }}
              </div>
            </ng-container>
            <ng-template #maxLengthError>
              <div class="valid-error">
                {{ 'Skill group name cannot exceed 50 characters' | translate }}
              </div>
            </ng-template>
          </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label>{{ 'First_day_of_week' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <ng-container *ngFor="let day of weekDays">
                  <div class="form-group clearfix margin-b-05-rem">
                    <div class="icheck-primary d-inline">
                      <input type="radio" id="{{ 'radio_lob_group_' + getWeekDay(day) }}" name="firstDayOfWeek"
                        [value]="day" formControlName="firstDayOfWeek" (change)="changeOperatingHoursDays(day)">
                      <label for="{{ 'radio_lob_group_' + getWeekDay(day) }}">
                        {{ getWeekDay(day) }}
                      </label>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="hasFormControlValidationError('firstDayOfWeek')" class="valid-error">
                {{ 'First day of week is required' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20">
          <div class="row">
            <div class="col-md-4">
              <label for=""
                id="lbl_add_edit_time_zone_for_reporting">{{ 'Timezone for reporting' | translate }}
                <span class="required">*</span>
              </label>
            </div>
            <div class="col-md-8">
              <select class="form-control"
                [ngClass]="{'valid-border-error': hasFormControlValidationError('timezoneId')}"
                formControlName="timezoneId">
                <option value="">{{ 'Select' | translate }}</option>
                <option value="" *ngFor="let x of timeZoneList" [value]="x.id">{{x.value}}</option>
              </select>
              <div *ngIf="hasFormControlValidationError('timezoneId')" class="valid-error">
                {{ 'Timezone for reporting is required' | translate }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 m-t-20 operating-hours-accordian">
          <ngb-accordion #acc="ngbAccordion" activeIds="operationHour">
            <ngb-panel id="operationHour">
              <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle class="d-flex w-100
                            align-items-center justify-content-between btn btn-link p-0">
                  <label
                    class="text-bold">{{ 'Operating hours by day of week' | translate }}</label>
                  <i class="fa" [ngClass]="opened ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-md-12">
                    <div class="w-100 open-hours table-bordered expanding-table">
                      <thead>
                        <tr>
                          <th>{{ 'Day' | translate }}</th>
                          <th>{{ 'Open' | translate }}<span class="required">*</span>
                          </th>
                          <th>{{ 'From' | translate }}</th>
                          <th>{{ 'To' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container formArrayName="operationHour">
                          <tr *ngFor="let details of operationHour.controls index as i">
                            <ng-container [formGroupName]="i">
                              <td class="text-bold days">{{getWeekDay(details.value.day)}}</td>
                              <td>
                                <select class="form-control" (change)="onOptionTypeChange(i)"
                                  formControlName="operationHourOpenTypeId">
                                  <option value="">
                                    {{ 'Select' | translate }}
                                  </option>
                                  <option *ngFor="let x of openTypes" [value]="x.id">{{x.open }}</option>
                                </select>
                                <span
                                  *ngIf="formSubmitted && operationHour.controls[i].get('operationHourOpenTypeId').errors?.required"
                                  class="valid-error">
                                  {{ 'Please select open type' | translate }}
                                </span>
                              </td>
                              <td>
                                <select class="form-control" formControlName="from">
                                  <option *ngFor="let x of openTime" [value]="x">{{x}}</option>
                                </select>
                                <span *ngIf="hasOpenHoursValidationError('from', i)" class="valid-error">
                                  {{ 'Time range is required' | translate }}
                                </span>
                              </td>
                              <td>
                                <select class="form-control" formControlName="to">
                                  <option *ngFor="let x of openTime" [value]="x">{{x}}</option>
                                </select>
                                <span *ngIf="hasOpenHoursValidationError('to', i)" class="valid-error">
                                  {{ 'Time range is required' | translate }}
                                </span>
                                <span *ngIf="formSubmitted && operationHour.controls[i].errors?.rangeError && !hasOpenHoursValidationError('to', i)"
                                  class="valid-error">
                                  {{ 'Enter a valid time range' | translate }}
                                </span>
                              </td>
                            </ng-container>
                          </tr>
                        </ng-container>
                      </tbody>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center header-color">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary float-r" data-dismiss="modal" (click)="saveSkillGroupDetails()" id="btn_save">
              <i class="fa fa-save padding-5"></i>{{ 'Save' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
