.btn-style {
    background-color: #dadae3;
    width: 100%;
  }
  
  .btn-primary {
    padding: 5px 50px 5px 50px;
  }
  
  .p-l-0 {
    padding-left: 0;
  }
  
  .p-r-0 {
    padding-right: 0;
  }
  
  @media (min-width: 576px) {
    .p-l-0 {
      padding-left: -1px !important;
    }
  
    .p-r-0 {
      padding-right: -1px !important;
    }
  }
  
  #fileLoader {
    display: none;
  }